<div class="divContainer">
  <form #encounterForm="ngForm" (ngSubmit)="onSubmit(encounterForm)" novalidate>
    <h2>{{ encounter.id ? 'Edit Encounter' : 'Add Encounter' }}</h2>

    <!-- Dropdown za tip Encounter-a -->
    <div *ngIf="!encounter.id">
      <label for="encounterType">Izaberite tip izazova:</label>
      <select id="encounterType" [(ngModel)]="selectedType" name="encounterType" (change)="onEncounterTypeChange()" [disabled]="!!encounter.id">
        <option *ngFor="let type of encounterTypes" [value]="type">
          {{ type }}
          </option>
      </select>
    </div>

    <div *ngIf="encounter.id || selectedType">
      <div>
        <label for="name">Encounter name:</label>
        <input id="name" type="text" [(ngModel)]="encounter.name" name="name" required #name="ngModel"
        [ngClass]="{'is-invalid': name.invalid && name.touched}"/>
        <div *ngIf="name.invalid && name.touched" class="error-message">
          This field is required.
        </div>
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="encounter.description" name="description" required #name="ngModel"
        [ngClass]="{'is-invalid': name.invalid && name.touched}"></textarea>
        <div *ngIf="name.invalid && name.touched" class="error-message">
          This field is required.
        </div>
      </div>

      <!-- Dodatna polja za specifične tipove -->
      <div *ngIf="selectedType === 'Social' || encounter.encounterType === 0">
        <!-- Social Encounter -->
        <div>
          <label for="touristNumber">Tourist number:</label>
          <input id="touristNumber" type="number" [(ngModel)]="encounter.touristNumber" name="touristNumber" required #name="ngModel"
          [ngClass]="{'is-invalid': name.invalid && name.touched}"/>
          <div *ngIf="name.invalid && name.touched" class="error-message">
            This field is required.
          </div>
        </div>
        <div>
          <label for="encounterRange">Encounter range:</label>
          <input id="encounterRange" type="number" [(ngModel)]="encounter.encounterRange" name="encounterRange" required #name="ngModel"
          [ngClass]="{'is-invalid': name.invalid && name.touched}"/>
          <div *ngIf="name.invalid && name.touched" class="error-message">
            This field is required.
          </div>
        </div>
      </div>

      <div *ngIf="selectedType === 'Location' || encounter.encounterType === 1">
        <!-- Hidden Location Encounter -->
        <div>
          <label for="fileInput">Image URL</label>
          <input id="fileInput" type="file" (change)="onFileSelected($event)" required #fileInput 
          [ngClass]="{'is-invalid': !selectedFile && fileInput?.value}">
        </div>
        <div *ngIf="!selectedFile && fileInput?.value" class="error-message">
          File is required.
        </div>
        <div>
          <label for="activationRange">Activation range:</label>
          <input id="activationRange" type="number" [(ngModel)]="encounter.activationRange" name="activationRange" required #name="ngModel"
          [ngClass]="{'is-invalid': name.invalid && name.touched}"/>
          <div *ngIf="name.invalid && name.touched" class="error-message">
            This field is required.
          </div>
        </div>
        <!-- <div class="map-container">
          <label>Image location</label>
          <xp-map (coordinatesSelected)="onCoordinatesSelected($event)" [encounters]="encounterCoordinates" [showSearchBar]="false"></xp-map>
        </div> -->

        <!-- <div class="form-group">
          <label for="imageLatitude">Image Latitude</label>
          <input type="number" id="imageLatitude" [(ngModel)]="encounter.imageLatitude" name="imageLatitude" />
        </div>
        <div class="form-group">
          <label for="imageLongitude">Image Longitude</label>
          <input type="number" id="imageLongitude" [(ngModel)]="encounter.imageLongitude" name="imageLongitude" />
        </div> -->
      </div>

      <div *ngIf="selectedType === 'Misc' || encounter.encounterType === 2">
        <!-- Misc Encounter -->
        <div class="form-group">
          <label for="actionDescription">Action description:</label>
          <textarea id="actionDescription" [(ngModel)]="encounter.actionDescription" name="actionDescription" required #name="ngModel"
          [ngClass]="{'is-invalid': name.invalid && name.touched}"></textarea>
          <div *ngIf="name.invalid && name.touched" class="error-message">
            This field is required.
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="user.role != 'tourist'">
        <label for="status">Status</label>
        <select id="status" [(ngModel)]="encounter.encounterStatus" name="status" class="form-control">
          <option value="Active">Active</option>
          <option value="Draft">Draft</option>
          <option value="Archieved">Archived</option>
        </select>
      </div>

      <!-- <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="number" id="latitude" [(ngModel)]="encounter.encounterLocation.latitude" name="latitude" required />
      </div>

      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="number" id="longitude" [(ngModel)]="encounter.encounterLocation.longitude" name="longitude" required />
      </div> -->

      <div class="form-group">
        <label for="experiencePoints">Experience points:</label>
        <input type="number" id="experiencePoints" [(ngModel)]="encounter.experiencePoints" name="experiencePoints" required #name="ngModel"
        [ngClass]="{'is-invalid': name.invalid && name.touched}"/>
        <div *ngIf="name.invalid && name.touched" class="error-message">
          This field is required.
        </div>
      </div>

      <div *ngIf="encounter.encounterType === 1" class="map-mode-buttons">
        <!-- <p>Current Map: {{ mapMode === 'encounterLocation' ? 'Encounter' : 'Image' }}</p> -->
        <button type="button" class="map-mode-buttons" (click)="setMapMode('encounterLocation')" [class.active]="mapMode === 'encounterLocation'">
          Set Encounter Location
        </button>
        <button type="button" class="map-mode-buttons" (click)="setMapMode('imageLocation')" [class.active]="mapMode === 'imageLocation'">
          Set Image Location
        </button>
      </div>

      <!-- Mapa za unos koordinata -->
      <div class="map-container">
        <xp-map (coordinatesSelected)="onCoordinatesSelected($event)" [encounters]="encounterCoordinates" [showSearchBar]="false" [formWithoutSearchBar]="true"></xp-map>
      </div>

      <div *ngIf="!encounter.encounterLocation.latitude || !encounter.encounterLocation.longitude" class="error-message">
        Coordinates are required.
      </div>
      

      <button type="submit" class="cta-button">
        {{ encounter.id ? 'Update Encounter' : 'Add Encounter' }}
      </button>
    </div>
  </form>
</div>
