<div class="modal-backdrop">
  <div class="divContainer">
    <form #encounterForm="ngForm" (ngSubmit)="onSubmit(encounterForm)" novalidate>
      <div class="modal-header">
        <h2>{{ encounter.id ? 'Edit Encounter' : 'Add Encounter' }}</h2>
        <button class="close-button" (click)="close()">×</button>
      </div>


      <!-- Dropdown za tip Encounter-a -->
      <div *ngIf="!encounter.id">
        <label for="encounterType">Izaberite tip izazova:</label>
        <select id="encounterType" [(ngModel)]="selectedType" name="encounterType" (change)="onEncounterTypeChange()" [disabled]="!!encounter.id">
          <option *ngFor="let type of encounterTypes" [value]="type">
            {{ type }}
            </option>
        </select>
      </div>

      <div *ngIf="encounter.id || selectedType">
        <!-- <form #encounterForm="ngForm" (ngSubmit)="onSubmit(encounterForm)" novalidate> -->
      
          <div class="form-row">
            <!-- Encounter name and description in one row -->
            <div class="form-column">
              <label for="name">Encounter name:</label>
              <input id="name" type="text" [(ngModel)]="encounter.name" name="name" required #name="ngModel"
                [ngClass]="{'is-invalid': name.invalid && name.touched}" />
              <div *ngIf="name.invalid && name.touched" class="error-message">
                This field is required.
              </div>
            </div>
            <div class="form-column">
              <label for="status">Status</label>
              <select id="status" [(ngModel)]="encounter.encounterStatus" name="status" class="form-control">
                <option value="Active">Active</option>
                <option value="Draft">Draft</option>
                <option value="Archived">Archived</option>
              </select>
            </div>
          </div>
      
          <!-- Description field below Encounter name and status -->
          <div class="form-row">
            <div class="form-column" style="grid-column: span 3;">
              <label for="description">Description:</label>
              <textarea id="description" [(ngModel)]="encounter.description" name="description" required #name="ngModel"
                [ngClass]="{'is-invalid': name.invalid && name.touched}"></textarea>
              <div *ngIf="name.invalid && name.touched" class="error-message">
                This field is required.
              </div>
            </div>
          </div>
      
          <!-- Social Encounter fields in one row -->
          <div *ngIf="selectedType === 'Social' || encounter.encounterType === 0" class="form-row">
            <div class="form-column">
              <label for="touristNumber">Tourist number:</label>
              <input id="touristNumber" type="number" [(ngModel)]="encounter.touristNumber" name="touristNumber" required #name="ngModel"
                [ngClass]="{'is-invalid': name.invalid && name.touched}" />
              <div *ngIf="name.invalid && name.touched" class="error-message">
                This field is required.
              </div>
            </div>
            <div class="form-column">
              <label for="encounterRange">Encounter range:</label>
              <input id="encounterRange" type="number" [(ngModel)]="encounter.encounterRange" name="encounterRange" required #name="ngModel"
                [ngClass]="{'is-invalid': name.invalid && name.touched}" />
              <div *ngIf="name.invalid && name.touched" class="error-message">
                This field is required.
              </div>
            </div>
            <div class="form-column">
              <label for="experiencePoints">Experience points:</label>
              <input type="number" id="experiencePoints" [(ngModel)]="encounter.experiencePoints" name="experiencePoints" required #name="ngModel"
                [ngClass]="{'is-invalid': name.invalid && name.touched}" />
              <div *ngIf="name.invalid && name.touched" class="error-message">
                This field is required.
              </div>
            </div>
          </div>
      
          <!-- Location Encounter fields -->
          <div *ngIf="selectedType === 'Location' || encounter.encounterType === 1" class="form-row">
            <div class="form-column">
              <label for="fileInput">Image URL</label>
              <input id="fileInput" type="file" (change)="onFileSelected($event)" required #fileInput 
                [ngClass]="{'is-invalid': !selectedFile && fileInput?.value}" />
              <div *ngIf="!selectedFile && fileInput?.value" class="error-message">
                File is required.
              </div>
            </div>
            <div class="form-column">
              <label for="activationRange">Activation range:</label>
              <input id="activationRange" type="number" [(ngModel)]="encounter.activationRange" name="activationRange" required #name="ngModel"
                [ngClass]="{'is-invalid': name.invalid && name.touched}" />
              <div *ngIf="name.invalid && name.touched" class="error-message">
                This field is required.
              </div>
            </div>
            <div class="form-column">
              <label for="experiencePoints">Experience points:</label>
              <input type="number" id="experiencePoints" [(ngModel)]="encounter.experiencePoints" name="experiencePoints" required #name="ngModel"
                [ngClass]="{'is-invalid': name.invalid && name.touched}" />
              <div *ngIf="name.invalid && name.touched" class="error-message">
                This field is required.
              </div>
            </div>
          </div>
      
          <!-- Misc Encounter fields -->
          <div *ngIf="selectedType === 'Misc' || encounter.encounterType === 2" class="form-row">
            <div class="form-column">
              <label for="actionDescription">Action description:</label>
              <textarea id="actionDescription" [(ngModel)]="encounter.actionDescription" name="actionDescription" required #name="ngModel"
                [ngClass]="{'is-invalid': name.invalid && name.touched}"></textarea>
              <div *ngIf="name.invalid && name.touched" class="error-message">
                This field is required.
              </div>
            </div>
            <div class="form-column">
              <label for="experiencePoints">Experience points:</label>
              <input type="number" id="experiencePoints" [(ngModel)]="encounter.experiencePoints" name="experiencePoints" required #name="ngModel"
                [ngClass]="{'is-invalid': name.invalid && name.touched}" />
              <div *ngIf="name.invalid && name.touched" class="error-message">
                This field is required.
              </div>
            </div>
          </div>
      
          <!-- Status field -->
          <!-- <div class="form-row">
            <div class="form-column" *ngIf="user.role != 'tourist'">
              <label for="status">Status</label>
              <select id="status" [(ngModel)]="encounter.encounterStatus" name="status" class="form-control">
                <option value="Active">Active</option>
                <option value="Draft">Draft</option>
                <option value="Archived">Archived</option>
              </select>
            </div>
          </div> -->
      
          <!-- Map -->
          <div class="map-container">
            <xp-map (coordinatesSelected)="onCoordinatesSelected($event)" [encounters]="encounterCoordinates" [showSearchBar]="false" [formWithoutSearchBar]="true"></xp-map>
          </div>
      
          <button type="submit" class="cta-button">
            {{ encounter.id ? 'Update Encounter' : 'Add Encounter' }}
          </button>
        <!-- </form> -->
      </div>
      

    </form>
  </div>
</div>
