<h1 class="subtitle">OVO SU TVOJI PRIJAVLJENI PROBLEMI</h1>
<div class="problems-container">
    <div *ngFor="let p of problems" class="problem-card">
        <p><strong>Problem ID:</strong> {{p.id}}</p>
        <p><strong>Category:</strong> {{getCategoryName(p.details.category)}}</p>
        <p><strong>Priority:</strong> {{getPriorityName(p.details.priority)}}</p>
        <p><strong>Description:</strong> {{p.details.description}}</p>
        <p><strong>Reported At:</strong> {{formatDate(p.resolution.reportedAt)}}</p>
        <p><strong>Is problem solved:</strong> {{p.resolution.isResolved ? 'Yes' : 'No'}}</p>
        <p><strong>Problem deadline:</strong> {{formatDate(p.resolution.deadline)}}</p>
        
        <button *ngIf="isDeadlineValid(p.resolution.deadline)" (click)="toggleForm(p.id ?? null)" class="update-status-btn">Update Status</button>

        <div *ngIf="selectedProblemId === p.id" class="update-form">
            <label>
                <input type="radio" name="status" (click)="updateResolvedStatus(true)" [disabled]="p.resolution.isResolved"/> Mark as Resolved
            </label>
            <label>
                <input type="radio" name="status" (click)="updateResolvedStatus(false)" [disabled]="!p.resolution.isResolved"/> Mark as Unresolved
            </label>

            <textarea *ngIf="statusUpdate.isResolved !== null" (input)="updateMessage($event)" placeholder="Add a comment..."></textarea>
            <button (click)="submitUpdate(p.id)" [disabled]="!canSubmit()">Submit</button>
            <button (click)="toggleForm(null)">Cancel</button>
        </div>
    </div>
</div>
