<h1 *ngIf="message && purchasedTours.length == 0" class="purchased-tours">
  {{ message }}
</h1>

<!-- <section *ngIf="!message && purchasedTours.length > 0" class="purchased-tours">
  <h1>Purchased tours</h1>
  <div class="tour-cards-wrapper">
    <div class="cards">
      <div *ngFor="let tour of purchasedTours" class="card">
        <div class="card-image" [style.backgroundImage]="getImagePath(tour.checkpoints[0].imageUrl)"></div>
        <div class="tour-info">
          <h3 class="title">{{ tour.name }}</h3>
          <p>{{ tour.description }}</p>
          <div class="tour-rating">
            <span class="rating-badge">{{ tour.averageGrade }}</span>
            <span class="rating-text">{{ tour.lengthInKm }} km</span>
          </div>
          <button (click)="createSession(tour.id)" class="button">{{ isActiveSession(tour.id) ? 'Enter Session' : 'Start Session' }}</button>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div *ngIf="!message && purchasedTours.length > 0" class="tour-container">
  <div class="search-toggle-container">
    <div style="width: 33%;"></div>
    <h1 class="title">My tours</h1>
    <div class="toggle-switch">
      <!-- Toggle za izbor pretrage između INCOMPLETE i COMPLETED tura -->
      <input type="radio" id="incomplete" name="toggle" (change)="handleProductTypeChange()" [checked]="productType === INCOMPLETE_PRODUCT" />
      <label for="incomplete" class="toggle-option">Incomplete</label>

      <input type="radio" id="completed" name="toggle" (change)="handleProductTypeChange()" [checked]="productType === COMPLETED_PRODUCT" />
      <label for="completed" class="toggle-option">Completed</label>
    </div>
  </div>
  <div *ngIf="productType === INCOMPLETE_PRODUCT">
    <div class="toggle-switch">
      <input type="radio" id="allTours" name="toggle" (change)="onSearchModeChange('all')" [checked]="searchMode === 'all'" />
      <label for="allTours" class="toggle-option">All Tours</label>
  
      <input type="radio" id="bestTour" name="toggle" (change)="onSearchModeChange('best')" [checked]="searchMode === 'best'" />
      <label for="bestTour" class="toggle-option">Best Tour</label>
    </div>

    <div class="datepicker-container">
      <label for="tourDate">Select a date (up to 5 days from today):</label>
      <input 
        type="date" 
        id="tourDate" 
        [(ngModel)]="selectedDate" 
        (change)="onDateChange()" 
        min="{{ minDate }}" 
        max="{{ maxDate }}" 
      />
    </div>

    <div [ngClass]="tour.isPremium ? 'tour-card premium' : 'tour-card'" *ngFor="let tour of incompleteTours">

      <div class="tour-card-image">
        <img *ngIf="tour.checkpoints[0].imageUrl" [src]="getImagePath(tour.checkpoints[0].imageUrl)" alt="Checkpoint image" />
      </div>
      <div class="tour-card-content">
        <div class="tour-card-header">
          <div style="display: flex; align-items: center; gap:3px">
            <h2 style="margin: 0px;">{{ tour.name }}</h2>
            <i *ngIf="tour.isPremium" class="fa fa-certificate" aria-hidden="true"></i>
          </div>
          <div>
            <span class="tour-weather">
              <img [ngClass]="tour.weatherIcon!=='01d' ? 'weather-icon' : 'weather-sunny'" *ngIf="tour.weatherIcon" [src]="mapToWeatherIcon(tour.weatherIcon) ?? 'assets/images/clear.png'" alt="nema weather ikkonic">
              <p class="span-style" *ngIf="tour.temperature">{{ tour.weatherDescription}}, {{ mapToRoundNumber(tour.temperature)}}°C</p>
            </span>
          </div>
          <!--button class="kebab-menu"><i class="fa-solid fa-ellipsis-vertical"></i></button-->
        </div>
        <div style="display: flex; justify-content:space-between">
          <p>{{ tour.description }}</p>
          <p [ngClass]="getRecommendClass(tour.weatherRecommend)">{{mapToRecommend(tour.weatherRecommend)}}</p>
        </div>
        <div class="tour-card-details">
          <span><i class="fa-solid fa-dollar-sign"></i>{{ tour.price }} adventure coins</span>
          <span><i class="fa-solid fa-fire"></i> {{ LevelMap[tour.level] }}</span>
          <span><i class="fas fa-walking"></i> {{ tour.lengthInKm }} km</span>
          <span><i class="fas fa-tag"></i>{{ tour.taggs }}</span>
        </div>
        <div class="buttons">
          <button (click)="createSession(tour.id)" class="cta-button">{{ isActiveSession(tour.id) ? 'Enter Tour' : 'Start Tour' }}</button>
  
        </div>
        <!-- <button class="cta-button" (click)="addToCart(tour)">
          <i class="fa-solid fa-cart-plus"></i> Add to Cart
        </button> -->
      </div>
    </div>
  </div>
  <div *ngIf="productType === COMPLETED_PRODUCT">
    <div [ngClass]="tour.isPremium ? 'tour-card premium' : 'tour-card'" *ngFor="let tour of completedTours">

      <div class="tour-card-image">
        <img *ngIf="tour.checkpoints[0].imageUrl" [src]="getImagePath(tour.checkpoints[0].imageUrl)" alt="Checkpoint image" />
      </div>
      <div class="tour-card-content">
        <div class="tour-card-header">
          <div style="display: flex; align-items: center; gap:3px">
            <h2 style="margin: 0px;">{{ tour.name }}</h2>
            <i *ngIf="tour.isPremium" class="fa fa-certificate" aria-hidden="true"></i>
          </div>
          <div>
            <span class="tour-weather">
              <img [ngClass]="tour.weatherIcon!=='01d' ? 'weather-icon' : 'weather-sunny'" *ngIf="tour.weatherIcon" [src]="mapToWeatherIcon(tour.weatherIcon) ?? 'assets/images/clear.png'" alt="nema weather ikkonic">
              <p class="span-style" *ngIf="tour.temperature">{{ tour.weatherDescription}}, {{ mapToRoundNumber(tour.temperature)}}°C</p>
            </span>
          </div>
        </div>
        <div style="display: flex; justify-content:space-between">
          <p>{{ tour.description }}</p>
          <p [ngClass]="getRecommendClass(tour.weatherRecommend)">{{mapToRecommend(tour.weatherRecommend)}}</p>
        </div>
        <div class="tour-card-details">
          <span><i class="fa-solid fa-dollar-sign"></i>{{ tour.price }} adventure coins</span>
          <span><i class="fa-solid fa-fire"></i> {{ LevelMap[tour.level] }}</span>
          <span><i class="fas fa-walking"></i> {{ tour.lengthInKm }} km</span>
          <span><i class="fas fa-tag"></i>{{ tour.taggs }}</span>
        </div>
      </div>
    </div>
  </div>
</div>