<div class="club-member-list">
    <h2>Club Members</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Club ID</th>
                <th>Tourist ID</th>
                <th>Joined Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of members">
                <td>{{ member.id }}</td>
                <td>{{ member.clubId }}</td>
                <td>{{ member.userId }}</td>
                <td>{{ member.joinedDate | date: 'short' }}</td>
                <td>
                    <button mat-icon-button color="warn" (click)="kickMember(member.clubId, member.userId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
