<div class="container">
    <div class="tabs">
        <button *ngIf="user.role === 'author'" (click)="currentView = 'drafts'" [class.active]="currentView === 'drafts'">Drafts</button>
        <button *ngIf="user.role === 'tourist' || user.role === 'author'" (click)="currentView = 'published'" [class.active]="currentView === 'published'">Published</button>
        <button *ngIf="user.role === 'author'"  (click)="currentView = 'archive'" [class.active]="currentView === 'archive'">Archive</button>
    </div>

    <!-- Draft Tours -->
    <div *ngIf="currentView === 'drafts'" class="card-container">
        <div *ngIf="draftTours.length > 0; else noDrafts">
            <div *ngFor="let tour of draftTours" class="tour-card">
                <h2>{{ tour.name }}</h2>
                <p><strong>Description:</strong> {{ tour.description }}</p>
                <p><strong>Price:</strong> {{ tour.price.cost }} {{ CurrencyMap[tour.price.currency] }}</p>
                <p><strong>Level:</strong> {{ LevelMap[tour.level] }}</p>
                <div class="actions" *ngIf="user && user.id===tour.authorId">
                    <button (click)="deleteTour(tour.id || 0)" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button (click)="onEditClicked(tour)" mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="onPublish(tour)" class="add-button">Publish</button>
                </div>
            </div>
        </div>
        <ng-template #noDrafts>
            <p *ngIf="!shouldRenderTourForm">No draft tours available.</p>
        </ng-template>

        <button *ngIf="!shouldRenderTourForm" (click)="onAddClicked()" class="add-button fixed-bottom">
            <mat-icon>add</mat-icon> Add Tour
        </button>
        <div class="tour-form-container" *ngIf="shouldRenderTourForm">
            <xp-tour-form [shouldEdit]="shouldEdit" [tour]="selectedTour" (tourUpdated)="getTours()"></xp-tour-form>
        </div>
    </div>

    <!-- Published Tours -->
    <div *ngIf="currentView === 'published'" class="card-container">
        <div *ngIf="publishedTours.length > 0; else noPublished">
            <div *ngFor="let tour of publishedTours" class="tour-card">
                <h2>{{ tour.name }}</h2>
                <p><strong>Description:</strong> {{ tour.description }}</p>
                <p><strong>Price:</strong> {{ tour.price.cost }} {{ CurrencyMap[tour.price.currency] }}</p>
                <p><strong>Level:</strong> {{ LevelMap[tour.level] }}</p>
                <div class="actions" *ngIf="user && user.id===tour.authorId">
                    <button (click)="archiveTour(tour)" class="add-button">Archive</button>
                </div>
            </div>
        </div>
        <ng-template #noPublished>
            <p>No published tours available.</p>
        </ng-template>
    </div>

    <!-- Archived Tours -->
    <div *ngIf="currentView === 'archive'" class="card-container">
        <div *ngIf="archivedTours.length > 0; else noArchived">
            <div *ngFor="let tour of archivedTours" class="tour-card">
                <h2>{{ tour.name }}</h2>
                <p><strong>Description:</strong> {{ tour.description }}</p>
                <p><strong>Price:</strong> {{ tour.price.cost }} {{ CurrencyMap[tour.price.currency] }}</p>
                <p><strong>Level:</strong> {{ LevelMap[tour.level] }}</p>
                <div class="actions" *ngIf="user && user.id===tour.authorId">
                    <button (click)="onPublish(tour)" class="add-button">Activate</button>
                </div>
            </div>
        </div>
        <ng-template #noArchived>
            <p>No archived tours available.</p>
        </ng-template>
    </div>
</div>
