.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    max-width: 1000px; /* Maksimalna širina stranice */
    margin: 0 auto; /* Centriranje stranice */
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Širina kartica */
    gap: 20px;
    position: relative; /* Omogućava pozicioniranje unutar kontejnera */
    padding-bottom: 50px; /* Prostor za dugme */
}

.tabs {
    margin-bottom: 20px;
}

.tour-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.tour-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tour-card p {
    margin: 5px 0;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.add-button {
    background-color: #84dcc6; /* Boja dugmeta */
    border: none;
    color: white;
    padding: 12px 25px;
    border-radius: 4px;
    margin-right: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-button:hover {
    background-color: #66c5af;
    transform: translateY(-2px);
}

.add-button.fixed-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px; /* Mali razmak od ivice */
    padding: 8px 16px; /* Smanjen padding za manje dugme */
    font-size: 14px; /* Manja veličina fonta */
    background-color: #84dcc6;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Manja senka */
    transition: background-color 0.3s, transform 0.3s;
}

.add-button.fixed-bottom:hover {
    background-color: #66c5af;
    transform: translateY(-2px);
}

.tour-form-container {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}


.tabs button {

    padding: 10px 20px;

    margin-right: 5px;

    cursor: pointer;

    border: none;

    background-color: #f0f0f0;

    border-radius: 5px;

}

.tabs .active {
    background-color: #2196F3;
    color: white;
}





