<div class="container" >
    <table class="table" *ngIf="user && user.role !== 'tourist'">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Cena</th>
                <th>Valuta</th>
                <th>Tezina</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tour of tours">
                <td> {{ tour.name }} </td>
                <td> {{ tour.description }} </td>
                <td> {{ tour.price.cost }} </td>
                <td> {{ CurrencyMap[tour.price.currency] }} </td>
                <td> {{ LevelMap[tour.level] }} </td>
                <td>
                    <button color="accent" (click)="deleteTour(tour.id || 0)" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button color="primary" (click)="onEditClicked(tour)" mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: center;">
                    <button class="add-button" (click)="onAddClicked()">
                        <mat-icon>add</mat-icon> Add Tour
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="tour-form-container" *ngIf="user && user.role !== 'tourist'">
        <xp-tour-form *ngIf="shouldRenderTourForm" [shouldEdit]="shouldEdit" [tour]="selectedTour" (tourUpdated)="getTours()"></xp-tour-form>
    </div>

    <div *ngIf="user && user.role === 'tourist'">
        <xp-map [allowMultipleMarkers]="false"
            [initialMarkers]="initialMarkers"
            (markerAdded)="onMarkerAdded($event)"
            (mapReset)="onMapReset()"
            (coordinatesSelected)="onCoordinatesSelected($event)">
        </xp-map>
        <div class="search-container">
            <input type="text" [(ngModel)]="searchDistance" placeholder="Unesite distancu od tačke" />
            <button class="button" (click)="searchTours()" color="primary">Pretraži ture</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Opis</th>
                    <th>Cena</th>
                    <th>Valuta</th>
                    <th>Tezina</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tour of tours">
                    <td> {{ tour.name }} </td>
                    <td> {{ tour.description }} </td>
                    <td> {{ tour.price.cost }} </td>
                    <td> {{ CurrencyMap[tour.price.currency] }} </td>
                    <td> {{ LevelMap[tour.level] }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
