<div class="container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="checkpoints.length === 0">
        <td colspan="6">Nema dostupnih checkpoint-a.</td>
      </tr>
      <tr *ngFor="let checkpoint of checkpoints">
        <td>{{ checkpoint.name }}</td>
        <td>{{ checkpoint.description }}</td>
        <td>
          <img [src]="checkpoint.imageUrl" alt="Checkpoint image" style="max-width: 100px;">
        </td>
        <td>{{ checkpoint.latitude }}</td>
        <td>{{ checkpoint.longitude }}</td>
        <td>
          <button style="background-color: rgb(15, 170, 15);" (click)="editCheckpoint(checkpoint); loadFormData(checkpoint)">Edit</button>
          <button style="background-color: red;" (click)="deleteCheckpoint(checkpoint)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Dugme za dodavanje novog checkpoint-a ispod tabele -->
  <div style="margin-top: 20px;">
    <button (click)="toggleAddCheckpointForm()" style="background-color: blue; color: white;">+ Add Checkpoint</button>
  </div>

  <!-- Forma za dodavanje novog checkpoint-a ispod dugmeta -->
  <div *ngIf="isAddingCheckpoint" class="add-checkpoint-form" style="margin-top: 20px;">
    <form (ngSubmit)="addCheckpoint()">
      <div style="display: flex; flex-direction: row; gap: 10px;">
        <input type="text" placeholder="Name" [(ngModel)]="newCheckpoint.name" name="name" required>
        <input type="text" placeholder="Description" [(ngModel)]="newCheckpoint.description" name="description" required>
        <input type="text" placeholder="Image URL" [(ngModel)]="newCheckpoint.imageUrl" name="imageUrl">
        <input type="number" placeholder="Latitude" [(ngModel)]="newCheckpoint.latitude" name="latitude" required>
        <input type="number" placeholder="Longitude" [(ngModel)]="newCheckpoint.longitude" name="longitude" required>
        <button type="submit" style="background-color: green; color: white;">Add</button>
      </div>
    </form>
  </div>

  <div class="map-container" style="margin-top: 30px;">
    <xp-map (coordinatesSelected)="onCoordinatesSelected($event)"></xp-map>
  </div>
  
  <div class="form-container" style="margin-top: 30px;">
    <xp-tour-checkpoint-form
      [checkpoint]="editingCheckpoint"
      (coordinatesSelected)="onCoordinatesSelected($event)"
      (updatedCheckpoint)="loadCheckpoints()">
    </xp-tour-checkpoint-form>
  </div>
</div>
