<div class="container">
  <table *ngIf="!shouldRenderCheckpointForm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="checkpoints.length === 0">
        <td colspan="6">Nema dostupnih checkpoint-a.</td>
      </tr>
      <tr *ngFor="let checkpoint of checkpoints">
        <td>{{ checkpoint.name }}</td>
        <td>{{ checkpoint.description }}</td>
        <td>
          <img [src]="getImagePath(checkpoint.imageUrl)" alt="Checkpoint image" style="max-width: 100px;">
        </td>
        <td>{{ checkpoint.latitude }}</td>
        <td>{{ checkpoint.longitude }}</td>
        <td>
          <button style="background-color: rgb(15, 170, 15);" (click)="editCheckpoint(checkpoint)">Edit</button>
          <button style="background-color: red;" (click)="deleteCheckpoint(checkpoint)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Dugme za dodavanje novog checkpoint-a ispod tabele -->
  <div style="margin-top: 20px;">
    <button *ngIf="!shouldRenderCheckpointForm" (click)="toggleAddCheckpointForm()" style="background-color: blue; color: white;">+ Add Checkpoint</button>
    <button *ngIf="!shouldRenderCheckpointForm" (click)="finishCheckpointsAdding()" style="background-color: green; color: white;">+ Submit</button>
  </div>  
  <xp-tour-checkpoint-form *ngIf="shouldRenderCheckpointForm" [tourId]="tourId" [checkpoint]="selectedCheckpoint" [shouldEdit]="shouldEdit" (updatedCheckpoint)="loadCheckpoints()"></xp-tour-checkpoint-form>
  <div style="margin-top: 30px;" [hidden]="shouldRenderCheckpointForm">
    <xp-map [showSearchBar]="isViewMode" [checkpoints]="checkpointCoordinates" (distanceCalculated)="onDistanceCalculated($event)"></xp-map>
  </div>
</div>
