<div class="main-container">
<!-- Mapa kao pozadina -->
<div class="map-background">
  <xp-tour-execution-map [checkpoints]="checkpointCoordinates"></xp-tour-execution-map>
</div>

<!-- Leva kolona - Informacije i Checkpoint Details sa skrolom -->
<div class="left-container">
  <div class="info-container">
    <h3 class="title">{{ tourName }}</h3>
    <div class="info-grid">
      <!-- Gornji levi ugao: User -->
      <div class="user-info">
        <img src="assets/images/user.png" alt="User Icon" class="icon" /> 
        <strong>{{ tourist?.username }}</strong>
      </div>
      
      <!-- Gornji desni ugao: Status -->
      <div class="status-info">
        <span class="status-dot {{ mapToTourExecutionStatus(tourExecution?.executionStatus ?? 0) }}"></span>
        {{ mapToTourExecutionStatus(tourExecution?.executionStatus ?? 0) }}
      </div>
      
      <!-- Donji levi ugao: Range -->
      <div class="range-info">
        <strong>{{ tourExecution?.tourRange }}</strong>
        <img src="assets/images/range.png" alt="Range Icon" class="icon-range" />
      </div>
      
      <!-- Donji desni ugao: Datum -->
      <div class="date-info">
        <img src="assets/images/date.png" alt="Start Icon" class="icon" />
        {{ tourExecution?.startTime | date: 'short' }}
      </div>
    </div>
  </div>
  



  <!-- Kartica za Checkpoint -->
  <div class="checkpoint-container">
    <div class="checkpoint-card">
      <div class="checkpoint-image-wrapper">
        <img [src]="getImagePath(currentCheckpoint.checkpoint.imageUrl)" alt="Checkpoint Image" class="checkpoint-image" />
      </div>
      <div class="checkpoint-header">
        <h3>{{ currentCheckpoint.checkpoint.name }}</h3>
      </div>
      <div class="checkpoint-info">
        <p><strong>Description:</strong> {{ currentCheckpoint.checkpoint.description }}</p>
        <p><strong>Completion Time:</strong> {{ mapToCompletionTime(currentCheckpoint.completionTime) }}</p>
        <p><strong>Secret:</strong> {{ currentCheckpoint.checkpoint.secret }}</p>
      </div>
      <div class="checkpoint-dots">
        <!-- Proveravamo da li 'tourExecution' postoji i da 'checkpointsStatus' nije null ili undefined -->
        <div 
          *ngFor="let checkpoint of tourExecution?.checkpointsStatus || []; let i = index" 
          [class.active]="i === getCurrentCheckpointIndex()" 
          (click)="setCurrentCheckpoint(i)">
        </div>
      </div>
      <button class="review-button" (click)="openReviewForm()" [disabled]="isDisabled()">Leave Review</button>
      <p *ngIf="getReviewMessage()" class="expired-message">
        {{ getReviewMessage() }}
        </p>
    </div>
    <div *ngIf="isReviewFormOpen" class="overlay">
      <div class="review-popup">
        <xp-tour-review 
          [tourId]="tourExecution?.tourId ?? 0"
          [touristId]="tourExecution?.userId ?? 0"
          [startDate]="tourExecution?.startTime ?? null"
          [percentageCompleted]="percentageCompleted ?? 0"
          (tourReviewUpdated)="closeReviewForm()"
        >
        </xp-tour-review>
        <button class="close-button" (click)="closeReviewForm()">X</button>
      </div>
    </div>
  </div>


  <!-- Dugmad za akcije -->
  <div class="button-container">
    <button class="button abandon-button" (click)="abandonSession()">Abandon Session</button>
    <button class="button complete-button" (click)="completeSession()">Complete Session</button>
  </div>
</div>


<!-- Kontejner za progres bar -->
<div class="progress-bar-container">
  <div class="progress-bar-wrapper">
    <div
      class="progress-bar"
      [style.width.%]="percentageCompleted"
      [class.low]="percentageCompleted < 35"
      [class.medium]="percentageCompleted >= 35 && percentageCompleted < 70"
      [class.high]="percentageCompleted >= 70">
    </div>
  </div>
  <p><strong>Progress:</strong> {{ percentageCompleted }}%</p>
</div>
</div>