<div class="dashboard-container">
  <!-- Full-Width Summary Card -->
  <div class="dashboard-card full-width">
    <div>
      <h2>Tours</h2>
      <p>Number of published tours</p>
      <h3>{{publishedTours}}</h3>
    </div>
    <div>
      <h2>Purchases</h2>
      <p>Number of total purchases</p>
      <h3>{{purchasedTours}}</h3>
    </div>
    <div>
      <h2>Sales</h2>
      <p>Total volume in our sales</p>
      <h3>{{totalSales}}</h3>
    </div>
  </div>

  <!-- Sales and Reviews Side-by-Side -->
  <div class="dashboard-card half-width" >
    <h2>Sales</h2>
    <p>Number of sales for selected period</p>
    <div class="chart-placeholder">[Chart Placeholder]</div>
  </div>

  <!-- Reviews -->
  <div class="dashboard-card half-width reviews-card">
    <h2>Reviews</h2>
    <div class="average-grade">
      <span class="stars">
        <i *ngFor="let star of [1, 2, 3, 4, 5]" class="fa fa-star"
           [style.color]="star <= Math.round(averageGrade) ? 'var(--primary-color)' : '#e0e0e0'">
        </i>
      </span>
      <span class="grade">{{ averageGrade.toFixed(1) }} out of 5</span>
    </div>    
    <div class="total-ratings">{{ getTotalRatings() }} total ratings</div>
    <div class="ratings-breakdown">
      <div *ngFor="let grade of [5, 4, 3, 2, 1]" class="rating-row">
        <span class="grade-label">{{ grade }} star</span>
        <div class="rating-bar">
          <div
            class="bar-filled"
            [style.width.%]="getRatingPercentage(grade)"
          ></div>
        </div>
        <span class="rating-percentage">
          {{ getRatingPercentage(grade) }}%
        </span>
      </div>
    </div>
  </div>
  

  <!-- Highlights in a Row -->
  <div class="dashboard-card third-width">
    <h2>Best Selling</h2>
    <p>Tour with most sales</p>
  </div>
  <div class="dashboard-card third-width">
    <h2>Best Rated</h2>
    <p>Tour with the best average rating</p>
  </div>
  <div class="dashboard-card third-width">
    <h2>Least Sold</h2>
    <p>Tour with the least sales</p>
  </div>

  <!-- Problem Status and Source Side-by-Side -->
  <div class="dashboard-card half-width">
    <h2>Problem Status</h2>
    <div class="chart-placeholder">
      <canvas
      baseChart
      [data]="problemStatusData"
      [options]="problemStatusOptions"
      [type]="'bar'">
    </canvas>
    </div>
  </div>

  <div class="dashboard-card half-width">
    <h2>Problem Source</h2>
    <div class="chart-placeholder">
      <canvas
      baseChart
      [data]="problemSourceData"
      [options]="problemSourceOptions"
      [type]="'doughnut'">
    </canvas>
    </div>
  </div>

  <!-- Problems Section -->
  <div class="dashboard-card full-width">
    <div class="problem-card-header">
      <h2>Problems</h2>
    </div>
    <div class="problem-card-controls">
      <div class="controls-container">
        <form (ngSubmit)="searchProblems($event)">
          <input type="text" placeholder="Search" class="search-input">
        </form>
        <div class="dropdown-container">
          <select class="sort-dropdown" (change)="sortProblemsByReportDate($event)">
            <option value="latest">Latest</option>
            <option value="oldest">Oldest</option>
          </select>
          <select class="sort-dropdown" (change)="sortProblemsByDeadlineDate($event)">
            <option value="latest">Nearest</option>
            <option value="oldest">Furthest</option>
          </select>
          <select class="sort-dropdown" (change)="filterByStatus($event)">
            <option value="all">All statuses</option>
            <option value="Resolved">Resolved</option>
            <option value="Unresolved">Unresolved</option>
            <option value="Overdue">Overdue</option>
          </select>
        </div>
      </div> 
    </div>
    <table class="problem-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tourist</th>
          <th>Tour</th>
          <th>Category</th>
          <th>Reported At</th>
          <th>Deadline</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let problem of problems" >
          <td>{{ problem.id }}</td>
          <td>{{ getTouristName(problem.userId) }}</td>
          <td>{{ getTourName(problem.tourId) }}</td>
          <td>{{ getCategoryName(problem.details.category) }}</td>
          <td>{{ problem.resolution.reportedAt | date:'medium' }}</td>
          <td>{{ problem.resolution.deadline | date:'medium' }}</td>
          <td>
            <button class="status-badge" 
                    [ngClass]="{
                      'status-unresolved': getProblemStatus(problem) === 'Unresolved',
                      'status-overdue': getProblemStatus(problem) === 'Overdue',
                      'status-resolved': getProblemStatus(problem) === 'Resolved'
                    }">
              {{ getProblemStatus(problem) }}
            </button>
          </td>       
          <td >
            <button class="action-btn table-btn" *ngIf="isDeadlineExpired(problem.resolution.deadline)"><i class="fa-solid fa-box-archive"></i></button>
            <button class="action-btn table-btn" (click)="toggleProblemModal(problem)"><i class="fa-solid fa-circle-info"></i></button>
          </td>       
        </tr>        
      </tbody>
    </table>
  </div>
  <!-- Problem Modal -->
<div class="problem-modal" *ngIf="selectedProblem">
    <div class="problem-modal-content">
      <div class="modal-header">
        <h2>Problem Info</h2>
        <button class="close-btn" (click)="closeProblemModal()">×</button>
      </div>
  
      <!-- Problem Details -->
      <div class="problem-header">
        <div class="username">@{{ currentTourist?.username }}</div>
        <div class="problem-details-table">
          <table>
            <thead>
              <tr>
                <th>Tour Name</th>
                <th>Reported At</th>
                <th>Deadline</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ getTourName(selectedProblem.tourId) }}</td>
                <td>{{ selectedProblem.resolution.reportedAt | date: 'medium' }}</td>
                <td>{{ selectedProblem.resolution.deadline | date: 'medium' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <!-- Messages Section -->
      <div class="messages-wrapper">
        <div #messagesContainer class="modal-messages">
          <div 
            *ngFor="let message of selectedProblemMessages" class="modal-message"
            [ngClass]="{'modal-message': true, 'me': user.id === message.userId, 'other': user.id !== message.userId,'description': message.id === 0}">
             {{ message.content }}
            <div class="posted-at">
              {{ message.postedAt | date:'dd/MM/yyyy   HH:mm' }}
            </div>
          </div>
        </div>
        <div class="add-comment">
          <input
            type="text"
            [(ngModel)]="newMessageContent"
            placeholder="Write a message..."
            (keydown.enter)="handleSendMessageClick()"
          />
          <button class="cta-button" (click)="handleSendMessageClick()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
