<div id="profileInfo" class="profile-container">
  <!-- Kartica sa informacijama o profilu -->
  <div class="profile-card" *ngIf="profileInfo as pi">
    <hr>
    <!-- Profilna slika -->
    <div class="center-content">
      <img 
        [src]="getImagePath(pi.imageUrl)" 
        alt="Profile image" 
        *ngIf="pi.imageUrl" 
        class="profile-image" 
      />
    </div>
    <div class="profile-row name-row">
      <label>Name:</label>
      <span class="profile-value">{{ nameSurname }}</span>
    </div>
    <div class="profile-row">
      <label>Moto:</label>
      <span class="profile-value">{{ pi.moto }}</span>
    </div>
    <div class="profile-row">
      <label>Biography:</label>
      <span class="profile-value">{{ pi.biography }}</span>
    </div>
    <div class="profile-row center-content">
      <button (click)="onEditClicked(pi)" class="cta-button small-button">
        {{ isEditMode ? 'Save' : 'Edit' }}
      </button>
    </div>
  </div>

  <!-- Kartica za Tourist Level -->
  <div class="level-card">
    <h3>Tourist Level {{ tourist?.level }}</h3>
    <div class="progress-container">
      <div class="progress-bar" [style.width.%]="progressPercent"></div>
    </div>
    <div class="progress-labels">
      <span>{{ minXp }}</span>
      <span>{{ maxXp }}</span>
    </div>
    <div class="current-xp">
      Total XP: {{ currentXp }}
    </div>
  </div>
</div>
