<div *ngIf="isUserLoggedIn; else notLoggedIn">
  <div id="profileInfo" class="profile-container">
    <!-- Levi deo: Profilna kartica -->
    <div class="profile-card" *ngIf="profileInfo as pi">
      <hr />
      <div class="profile-header">
        <div class="profile-image-container">
          <!-- Prikaz slike u normalnom režimu -->
          <img 
            [src]="getImagePath(profileInfo.imageUrl)" 
            alt="Profile image" 
            *ngIf="!isEditMode && profileInfo.imageUrl" 
            class="profile-image" 
          />
          <!-- U režimu uređivanja prikaži dugme za odabir slike -->
          <ng-container *ngIf="isEditMode">
            <img 
              *ngIf="imageBase64" 
              [src]="imageBase64" 
              alt="Preview image" 
              class="profile-image preview-image" 
            />
            <input 
              type="file" 
              (change)="onFileSelected($event)" 
              class="upload-input"
            />
          </ng-container>
        </div>
      </div>
      <!-- Ostatak levi deo -->
      <div class="profile-row name-row">
        <label>Name:</label>
        <div *ngIf="!isEditMode" class="profile-value">{{ nameSurname }}</div>
        <input *ngIf="isEditMode" type="text" [(ngModel)]="profileInfo.firstName" placeholder="First Name" />
        <input *ngIf="isEditMode" type="text" [(ngModel)]="profileInfo.lastName" placeholder="Last Name" />
      </div>
      <div class="profile-row">
        <label>Moto:</label>
        <div *ngIf="!isEditMode" class="profile-value">{{ pi.moto }}</div>
        <input *ngIf="isEditMode" type="text" [(ngModel)]="profileInfo.moto" placeholder="Your motto" />
      </div>
      <div class="profile-row">
        <label>Biography:</label>
        <div *ngIf="!isEditMode" class="profile-value">{{ pi.biography }}</div>
        <input *ngIf="isEditMode" type="text" [(ngModel)]="profileInfo.biography" placeholder="Your biography" />
      </div>
      <div class="profile-footer">
        <ng-container *ngIf="loggedInUser?.id === userId">
          <button (click)="onEditOrSaveClicked()" class="cta-button small-button">
            {{ isEditMode ? 'Save' : 'Edit' }}
          </button>
        </ng-container>
        <ng-container *ngIf="!viewedUserAuthor && loggedInUser?.id !== userId && loggedInUser?.role !== 'author'">
          <button
            class="cta-button"
            [ngClass]="followedProfiles.includes(userId) ? 'unfollow-button' : 'follow-button'"
            (click)="onFollowButtonClick(userId)"
          >
            {{ followedProfiles.includes(userId) ? 'Unfollow' : 'Follow' }}
          </button>
        </ng-container>
      </div>
    </div>

    <!-- Desni deo: Kartice za level i followere -->
    <ng-container *ngIf="!viewedUserAuthor">
      <div class="right-container">
        <!-- Kartica za level -->
        <div class="level-card">
          <div class="level-header">
            <h3>Tourist Level {{ tourist?.level }}</h3>
            <div class="current-xp">{{ currentXp }} XP</div>
          </div>
          <div class="progress-container">
            <div class="progress-bar" [style.width.%]="progressPercent"></div>
          </div>
          <div class="progress-labels">
            <span>{{ minXp }}</span>
            <span>{{ maxXp }}</span>
          </div>
        </div>
        <!-- Kartica za pratioce -->
        <div class="followers-card">
          <h3>Followers</h3>
          <table>
            <tbody>
              <tr *ngFor="let follower of followers">
                <td>
                  <img [src]="getImagePath(follower.imageUrl)" alt="Follower image" class="follower-image"       [routerLink]="['/profile', follower.followerId]" style="cursor: pointer;" />
                </td>
                <td>    
                  <span 
                    [routerLink]="['/profile', follower.followerId]" 
                    style="cursor: pointer;"
                  >
                    {{ follower.followerUsername }}
                  </span>
                  <td class="action-cell">
                    <ng-container *ngIf="follower.followerId !== loggedInUser?.id; else emptyCell">
                      <button
                        class="cta-button"
                        [ngClass]="followedProfiles.includes(follower.followerId) ? 'unfollow-button' : 'follow-button'"
                        (click)="onFollowButtonClick(follower.followerId)"
                      >
                        {{ followedProfiles.includes(follower.followerId) ? 'Unfollow' : 'Follow' }}
                      </button>
                    </ng-container>
                    <ng-template #emptyCell>
                      <span></span>
                    </ng-template>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #notLoggedIn>
  <div class="not-logged-in-message">
    You have to log in first...
  </div>
</ng-template>
