body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
}

#profileInfo {
    margin-left: 20px;
}

#profileInfo-details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}

p {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

thead tr {
    background-color: #84dcc6;
    color: #ffffff;
    text-align: center;
}

th {
    padding: 0px 15px;
}

tbody tr:last-of-type {
    margin-top: 100px;
}

.profile-image{
    border-radius: 20px;
    border: 1px solid #84dcc6;
    margin-top: 30px;
}

button {
    background-color: #84dcc6;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto; /* Ovo pomera dugme ka desnoj strani */
    display: block; /* Obezbeđuje da dugme koristi ceo red */
    margin-right: 20px;
    margin-bottom: 10px;
}

.input-no-border {
    border: none; /* Uklanja okvir */
    background-color: transparent; /* Uklanja pozadinu */
    pointer-events: none; /* Sprečava interakciju */
    font-weight: bold;
    font-size: 15px;
    margin-left: 47px;
  }
  
  .input-border {
    border: 1px solid #ccc; /* Dodaje okvir */
    background-color: #fff; /* Dodaje pozadinu */
    pointer-events: auto;
    margin-left: 50px;
  }

  textarea {
    resize: none; /* Sprečava korisnike da promene veličinu */
  }

  .profile-row{
    padding: 0px 50px;
  }

body{
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}