<!-- <mat-toolbar color="transparent" class="navbar">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <div id="buttons">
        <button [routerLink]="['/home']">Home</button>
        
        <button *ngIf="user && user.role === 'administrator'" mat-button [routerLink]="['/manage']">Manage Equipment</button>
    </div>
</mat-toolbar> -->

<app-public-point-notifications *ngIf="showNotifications" class="notification-dropdown"></app-public-point-notifications>

<mat-toolbar class="navbar">
    <div class="navbar-content">
        <div class="logo">
            <img src="assets/images/GuideFlow.png" alt="Logo" class="logo-img" />
        </div>
        <div class="nav-links">
            <a routerLink="/home">Home</a>
            <a routerLink="/tour">Tours</a>
            <a routerLink="/club">Clubs</a>
            <a routerLink="/blog">Blog</a>
        </div>
        <div class="profile-menu">
            <mat-icon *ngIf="user && user.username !== ''" class="notification-icon" (click)="toggleNotifications()">notifications</mat-icon>
            <span *ngIf="user && user.username === '' && notificationCount > 0" class="notification-badge">{{ notificationCount }}</span>
            <mat-icon class="profile-icon" (click)="toggleDropdown()">account_circle</mat-icon>
            <div class="dropdown-content" *ngIf="isDropdownOpen">
                <a *ngIf="user && user.username === ''" [routerLink]="['/login']">Login</a>
                <a *ngIf="user && user.username !== ''" (click)="onLogout()">Logout</a>
                <a [routerLink]="['/settings']">Settings</a>
                <a *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['equipment']">Manage equipment</a>
            </div>
        </div>
        <div class="menu-icon">
            <mat-icon>menu</mat-icon>
        </div>
    </div>
</mat-toolbar>