html, body {
  height: 100%;
  margin: 0;
}

.main-column {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 90vh;
}

.post-flex {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 10px; 
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.post-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px; 
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 20px;
  align-items: flex-start;
  position: relative;
}

.post-container:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.post-image {
  width: 300px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-left: auto;
}

.post-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--accent-color);
  margin: 0;
}

.rating-badge {
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.description {
  color: var(--text-color);
  font-size: 14px;
  margin: 10px 0;
  white-space: pre-line;
}

.details {
  font-size: 12px;
  color: #666666;
  margin-bottom: 10px;
}

.status {
  font-size: 12px;
  color: #28a745;
  font-weight: bold;
  margin-top: 10px;
}

.cta-button {
  align-self: center;
  margin-top: auto;
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
}

.cta-button:hover {
  background-color: var(--hover-color);
  transform: scale(1.1);
  transition: 0.5s ease;
}

/* Vote and Interaction Buttons */
.vote-container, .interaction-container {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 30px; 
  padding: 5px 10px;
  background-color: var(--primary-color); 
  margin-right: 15px;
}

.vote-button, .interaction-button {
  font-size: 1.2em;
  color: white; 
  background: none;
  border: none;
  border-radius: 30px; 
  cursor: pointer;
  padding: 5px;
}

.vote-button:hover, .interaction-button:hover {
  box-shadow: white 0px 7px 29px 0px;
}

.vote-button:focus, .interaction-button:focus {
  outline: none;
}

.vote-button.fa-arrow-up:hover {
  color: #ff4500;
}

.vote-button.fa-arrow-down:hover {
  color: #7193ff;
}

.vote-count, .interaction-count {
  margin: 0 10px;
  font-size: 1.1em;
  color: white;
  font-weight: bold;
}

.bottom-interaction-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.limited-description {
  max-height: 70px; 
  overflow: hidden;
  position: relative;
}

.limited-description::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}

/* Draft Image with Grayscale Filter */
.draft-image {
  filter: grayscale(100%);
  position: relative;
}

/* Positioning the DRAFT label in the top-left corner */
.draft-label {
  position: absolute;
  top: 100px;
  left: 740px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}




.upvoted {
  color: #ff4500;
}

.downvoted {
  color: #7193ff;
}
