<div class="main-column">
  <div class="post-flex">
    <!-- Draft Post Section, only shown if draftsToShow has items -->
    <div *ngFor="let p of draftsToShow" class="post-container draft-post" (click)="navigateToEditPost(p.id)">
      <div class="post-content">
        <div class="post-header">
          <p class="user-details">{{ p.username }} • {{ p.publishDate | date:'medium' }}</p>
        </div>
        <h2 class="post-title">{{ p.title }}</h2>
        <div class="limited-description">
          <p class="description">{{ p.description }}</p>
        </div>
      </div>
      <div class="post-image-container">
        <img [src]="getImagePath(p.imageUrl)" alt="Draft post image" *ngIf="p.imageUrl" class="post-image draft-image" />
        <span class="draft-label">DRAFT</span>
      </div>
    </div>

    <!-- Published Posts Section -->
    <div *ngFor="let p of publishedPostsToShow" class="post-container" (click)="navigateToPostDetails(p.id)">
      <div class="post-content">
        <div class="post-header">
          <p class="user-details"><b>{{ p.username }}</b> • {{ p.publishDate | date:'medium' }} • {{ getEngagementStatusLabel(p.id) }}</p> 
        </div>
        <h2 class="post-title">{{ p.title }}</h2>
        <div class="limited-description">
          <p class="description">{{ p.description }}</p>
        </div>
        <div class="bottom-interaction-bar">
          <div class="vote-container">
            <button class="vote-button fa fa-arrow-up" [ngClass]="{'upvoted': p.isRated && p.isRatedPositively}" (click)="upvote(p.id)"></button>
            <span class="vote-count">{{ getNetRating(p.id) }}</span>
            <button class="vote-button fa fa-arrow-down" [ngClass]="{'downvoted': p.isRated && !p.isRatedPositively}" (click)="downvote(p.id)"></button>
          </div>
          <div class="interaction-container">
            <button class="interaction-button fa fa-comment"></button>
            <span class="interaction-count">{{ getCommentCount(p.id) }}</span>
          </div>
        </div>
      </div>
      <img [src]="getImagePath(p.imageUrl)" alt="Post image" *ngIf="p.imageUrl" class="post-image" />
    </div>
  </div>

  <!-- Create post button for authors at the bottom -->
  <button class="cta-button" *ngIf="user?.role === 'author'" (click)="navigateToCreatePost()">
    Create post
  </button>
</div>
