<div class="main-column">
  <!-- Wrapper for posts -->
  <div class="post-flex">
    <div *ngFor="let p of postsToShow" class="post-container" (click)="navigateToPostDetails(p.id)">
      <img [src]="getImagePath(p.imageUrl)" alt="Post image" *ngIf="p.imageUrl" class="post-image" />

      <div class="post-content">
        <!-- Title and Rating Badge at the Top -->
        <div class="post-header">
          <h2 class="post-title">{{ p.title }}</h2>
          <span class="rating-badge">8k<!--{{ p.rating || 'N/A' }}--></span>
        </div>
        
        <p class="description">{{ p.description | slice:0:100 }}...</p>
        <p class="details">Published on {{ p.publishDate | date:'longDate' }}</p>
        
        <!-- Status at the bottom of the content -->
        <p class="status">{{ getStatusName(p.status) }}</p>
      </div>
    </div>
  </div>

  <!-- Create post button for authors at the bottom -->
  <button class="cta-button" *ngIf="user?.role === 'author'" (click)="navigateToCreatePost()">
    Create post
  </button>
</div>
