<form [formGroup]="tourspecifForm" (ngSubmit)="addSpecification()">
  <!-- Tour Difficulty -->
  <div class="form-group">
      <label>Tour Difficulty:</label>
      <div>
          <mat-radio-group formControlName="tourDifficulty">
              <mat-radio-button id="difficulty1" value="1">1</mat-radio-button>
              <mat-radio-button id="difficulty2" value="2">2</mat-radio-button>
              <mat-radio-button id="difficulty3" value="3">3</mat-radio-button>
              <mat-radio-button id="difficulty4" value="4">4</mat-radio-button>
              <mat-radio-button id="difficulty5" value="5">5</mat-radio-button>
          </mat-radio-group>
      </div>
  </div>

  <!-- Walk Rating -->
  <div class="form-group">
      <label>Walk Rating:</label>
      <div>
          <mat-radio-group formControlName="walkRating">
              <mat-radio-button id="walkRating0" value="0">0</mat-radio-button>
              <mat-radio-button id="walkRating1" value="1">1</mat-radio-button>
              <mat-radio-button id="walkRating2" value="2">2</mat-radio-button>
              <mat-radio-button id="walkRating3" value="3">3</mat-radio-button>
          </mat-radio-group>
      </div>
  </div>

  <!-- Bike Rating -->
  <div class="form-group">
      <label>Bike Rating:</label>
      <div>
          <mat-radio-group formControlName="bikeRating">
              <mat-radio-button id="bikeRating0" value="0">0</mat-radio-button>
              <mat-radio-button id="bikeRating1" value="1">1</mat-radio-button>
              <mat-radio-button id="bikeRating2" value="2">2</mat-radio-button>
              <mat-radio-button id="bikeRating3" value="3">3</mat-radio-button>
          </mat-radio-group>
      </div>
  </div>

  <!-- Car Rating -->
  <div class="form-group">
      <label>Car Rating:</label>
      <div>
          <mat-radio-group formControlName="carRating">
              <mat-radio-button id="carRating0" value="0">0</mat-radio-button>
              <mat-radio-button id="carRating1" value="1">1</mat-radio-button>
              <mat-radio-button id="carRating2" value="2">2</mat-radio-button>
              <mat-radio-button id="carRating3" value="3">3</mat-radio-button>
          </mat-radio-group>
      </div>
  </div>

  <!-- Boat Rating -->
  <div class="form-group">
      <label>Boat Rating:</label>
      <div>
          <mat-radio-group formControlName="boatRating">
              <mat-radio-button id="boatRating0" value="0">0</mat-radio-button>
              <mat-radio-button id="boatRating1" value="1">1</mat-radio-button>
              <mat-radio-button id="boatRating2" value="2">2</mat-radio-button>
              <mat-radio-button id="boatRating3" value="3">3</mat-radio-button>
          </mat-radio-group>
      </div>
  </div>

  <!-- Tags -->
  <div class="form-group">
      <mat-form-field appearance="fill">
          <mat-label>Tags:</mat-label>
          <textarea matInput
                    formControlName="tags"
                    rows="4"
                    placeholder="Unesite tagove, odvojene zarezom"></textarea>
      </mat-form-field>
  </div>
  <button *ngIf="!shouldEdit" mat-raised-button type="submit" color="primary" (click)="addSpecification()">Done</button>
  <button *ngIf="shouldEdit" mat-raised-button type="submit" color="primary" (click)="updateSpecification()">Done</button>
</form>
