

<!-- Dropdown za izbor ID-a ture -->
<label for="tourIdSelect">Equipment for tour: </label>
<select id="tourIdSelect" [(ngModel)]="selectedTourId" (change)="onTourSelectionChange()">
  <option *ngFor="let tourId of availableTourIds" [value]="tourId">{{ tourId }}</option>
</select>

<table border="1">
  <thead>
    <tr>
     
      <th>Equipment Name</th>
      <th>Description</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eq of tourEquipment" >
     
      
      <td>{{ eq.name }}</td>
      <td>{{ eq.description }}</td>
      <td>
        <button (click)="deleteTourEquipment(eq.id!)" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<h3>Select Equipment for Tour</h3>

<table border="1">
  <thead>
    <tr>
      <th>Select</th>
      <th>Equipment Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody *ngFor="let eq of equipment" >
    <tr *ngIf="!isEquipmentInTour(eq.id)">
      <td>
      <input type="checkbox" (change)="toggleEquipmentSelection(eq.id,selectedTourId, $event)" />
      
      </td>
      <td>{{ eq.name }}</td>
      <td>{{ eq.description }}</td>
    </tr>
  </tbody>
</table>

<button (click)="addSelectedEquipment()">Add Selected Equipment</button>
