<div class="user-list-card">
  <div class="user-card-header">
    <h2>Users</h2>
    <input type="text" placeholder="Search" class="search-input">
    <select class="sort-dropdown">
      <option value="latest">Sort by: Latest</option>
      <option value="oldest">Sort by: Oldest</option>
    </select>
  </div>
  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Last Online</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>  
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ getRoleLabel(user.role) }}</td>
        <td>{{ user.lastOnline }}</td>
        <td [ngClass]="{'status-active': user.isActive, 'status-inactive': !user.isActive}" >
          <button class="status-badge">
            {{ user.isActive ? 'Active' : 'Inactive' }}
          </button>
        </td>        
        <td class="actions">
          <button class="action-btn table-btn "><i class="fa-solid fa-user"></i></button>
          <button class="action-btn table-btn " (click)="ToggleAcountActivty(user)"><i class="fa-solid fa-ban"></i></button>
          <button *ngIf="user.role === UserRole.Tourist" class="action-btn table-btn" (click)="toggleMoneyInput(user)">
            <i class="fa-solid fa-wallet"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal" *ngIf="selectedAccountId !== null">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Add adventure coins <i class="fa-solid fa-coins"></i></h2>
        <button class="close-btn" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-body">
        <p>Adding to account: <strong>@{{ getUsername(selectedAccountId) }}</strong></p>
        <input
          type="number"
          [(ngModel)]="moneyInput"
          placeholder="Enter amount"
          class="input-money"
          min="1"
        />
      </div>
      <div class="modal-footer">
        <button class="cta-button" (click)="depositMoney()">Confirm transaction</button>
      </div>
    </div>
  </div>
  

</div>
