.main-div {
	display: flex;
	padding: 20px;
}

ul {
	margin: 0;
}

.problem-card {
	display: flex;
	justify-content: space-between;
}

.problem-card > div {
	margin-right: 10px;
}
.problem-card > button {
	margin-left: 10px;
}

.problem-view {
	width: 100%;
	margin-left: 50px;
}
