<div class="main-column">
    <div *ngIf="post" class="post-info">
        <!-- Post Meta (Author and Date) -->
        <div class="post-meta">
            <span class="author-name">{{ authorName }}  • </span> 
            <span>{{ post.publishDate | date: 'medium' }} • {{ getEngagementStatusLabel() }} </span>
        </div>
        
        <!-- Post Title -->
        <h2 class="post-title">{{ post.title }}</h2>
    
        <!-- Image Section -->
        <img *ngIf="post.imageUrl" [src]="getImagePath(post.imageUrl)" alt="Post image" class="post-image" />
    
        <!-- Post Content -->
        <div class="post-content">
            <div class="post-description">
                <markdown [data]="post.description"></markdown>
            </div>
            <!-- Interaction bar content-->
            <div class="bottom-interaction-bar">
                <div class="vote-container">
                  <button class="vote-button fa fa-arrow-up" [ngClass]="{'upvoted': post.isRated && post.isRatedPositively}" (click)="upvote(post.id)"></button>
                  <span class="vote-count">{{ getNetRating(post.id) }}</span>
                  <button class="vote-button fa fa-arrow-down" [ngClass]="{'downvoted': post.isRated && !post.isRatedPositively}" (click)="downvote(post.id)"></button>
                </div>
                <div class="interaction-container">
                  <button class="interaction-button fa fa-comment"></button>
                  <span class="interaction-count">{{ commentCount }}</span>
                </div>
              </div>
        </div>
    </div>
    
    <div class="comments-section">
        <!-- Comment Form Section -->
        <div *ngIf="user && user.role !== 'author'" class="comment-input-container card">
          <div *ngIf="!isCommenting" (click)="toggleCommentForm()" class="collapsed-comment-input">
            <input type="text" placeholder="Add a comment" readonly />
          </div>
        
          <div *ngIf="isCommenting" [formGroup]="commentForm" class="expanded-comment-input">
            <textarea
              formControlName="content"
              placeholder="Write your comment"
              rows="3"
            ></textarea>
            <div class="comment-actions">
              <button (click)="cancelComment()" class="cta-button-cancel">Cancel</button>
              <button (click)="addComment()" [disabled]="!commentForm.valid" class="cta-button">Comment</button>
            </div>
          </div>
        </div>
        
        <!-- Display Comments -->
        <div *ngIf="comments.length === 0" class="no-comments">
          <p>No comments yet. Be the first to add one!</p>
        </div>
      
        <div *ngFor="let comment of comments" class="comment-card">
          <div class="comment-header">
              <span class="comment-author">{{ comment.username || 'Anonymous' }}</span> •
              <span class="comment-date">{{ comment.createdAt | date:'medium' }}</span>
      
              <!-- Kebab icon for dropdown menu -->
              <button *ngIf="user && user.id === comment.userId" 
                      (click)="toggleMenu(comment.id!)" 
                      class="kebab-menu-button">⋮</button>
      
              <!-- Only show menu if openMenuId matches the comment's ID -->
              <div *ngIf="user && user.id === comment.userId && openMenuId === comment.id" class="comment-menu">
                  <button (click)="startEditingComment(comment)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                  <button (click)="deleteComment(comment.id!)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
              </div>
          </div>
      
          <!-- Comment content or edit form -->
          <div *ngIf="isEditing && editingComment?.id === comment.id" class="comment-edit-form">
              <textarea *ngIf="editingComment" [(ngModel)]="editingComment.content" rows="3" class="edit-textarea"></textarea>
              <div class="comment-actions">
                  <button (click)="cancelEdit()" class="cta-button-cancel">Cancel</button>
                  <button (click)="updateComment()" class="cta-button-save">Save</button>
              </div>
          </div>
      
          <div *ngIf="!isEditing || editingComment?.id !== comment.id" class="comment-body">
              <p>{{ comment.content }}</p>
          </div>
       </div>
      
      
      </div>
      


  