<div class="main-column">
    <div *ngIf="post" class="post-info">
        <!-- Post Meta (Author and Date) -->
        <div class="post-meta">
            <span class="author-name">{{ authorName }}</span> •
            <span>{{ post.publishDate | date: 'medium' }}</span>
        </div>
        
        <!-- Post Title -->
        <h2 class="post-title">{{ post.title }}</h2>
    
        <!-- Image Section -->
        <img *ngIf="post.imageUrl" [src]="getImagePath(post.imageUrl)" alt="Post image" class="post-image" />
    
        <!-- Post Content -->
        <div class="post-content">
            <div class="post-description">
                <markdown [data]="post.description"></markdown>
            </div>
            <!-- Interaction bar content-->
            <div class="bottom-interaction-bar">
                <div class="vote-container">
                  <button class="vote-button fa fa-arrow-up"></button>
                  <span class="vote-count">420</span>
                  <button class="vote-button fa fa-arrow-down"></button>
                </div>
                <div class="interaction-container">
                  <button class="interaction-button fa fa-comment"></button>
                  <span class="interaction-count">{{ commentCount }}</span>
                </div>
              </div>
        </div>
    </div>
    
    <!-- Comments Section -->
<div class="comments-section">   
    <!-- Comment Form Section -->
    <div *ngIf="user && (user.role === 'tourist' || user.role === 'author')" class="comment-form-container" [formGroup]="commentForm">
        <textarea formControlName="content" class="comment-textarea" placeholder="Write your comment"></textarea>
        <div class="form-actions">
            <button *ngIf="isEditing" class="cta-button" (click)="cancelEdit()">Cancel</button>
            <button class="cta-button" (click)="isEditing ? updateComment() : addComment()">
                {{ isEditing ? 'Update' : 'Comment' }}
            </button>
        </div>
    </div>

    <!-- Display Comments -->
    <div *ngIf="comments.length === 0" class="no-comments">
        <p>No comments yet. Be the first to add one!</p>
    </div>

    <div *ngFor="let comment of comments" class="comment-card">
        <div class="comment-header">
            <span class="comment-author">{{ comment.username || 'Anonymous' }}</span> •
            <span class="comment-date">{{ comment.createdAt | date:'medium' }}</span>
        </div>
    
        <div class="comment-body">
            <p>{{ comment.content }}</p>
        </div>
    
        <div class="comment-actions">
            <button *ngIf="user && user.id === comment.userId && comment.id" class="cta-button delete" (click)="deleteComment(comment.id)">Delete</button>
        </div>
    </div>    
</div>


</div>


  