<form [formGroup]="problemInput">
	<div>
		<div>Category</div>
		<select formControlName="category">
			<option *ngFor="let category of categories" [value]="category">
				{{ category }}
			</option>
		</select>
	</div>
	<div>
		<div>Priority</div>
		<select formControlName="priority">
			<option *ngFor="let priority of priorities" [value]="priority">
				{{ priority }}
			</option>
		</select>
	</div>
	<div>
		<div>Description</div>
		<textarea formControlName="description"></textarea>
	</div>
	<button type="button" (click)="handleClick()">Report</button>
</form>
