<div>
    <table>
        <thead>
            <tr>
                <th>STATUS REQUESTA</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cr of clubRequests">
                
                <td>{{ getStatusLabel(cr.status) }}</td>
                <td>
                    <button (click)="acceptRequest(cr)">
                      Accept
                    </button>
                    <button (click)="declineRequest(cr)">
                      Decline
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
