<!-- <footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="assets/images/GuideFlow.png" alt="GuideFlow Logo" class="logo" />
            <div class="social-icons">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>

        <div class="footer-links">
            <div class="footer-column">
                <a href="/tours">Tours</a>
                <a href="/clubs">Clubs</a>
                <a href="/blog">Blog</a>
            </div>
            <div class="footer-column">
                <a href="/contact">Contact</a>
                <a href="/about">About us</a>
                <a href="/report">Report a problem</a>
            </div>
        </div>
    </div>
</footer> -->
