.main-column {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
  }
  
  .club-info-header {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .club-meta {
    font-size: 0.9em;
    color: #555;
  }
  
  .club-name {
    font-size: 24px;
    font-weight: bold;
    color: var(--accent-color);
  }
  
  .club-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 15px;
  }
  
  .club-description {
    font-size: 16px;
    color: #333;
    margin-top: 15px;
  }
  
  .club-posts-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .club-post {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .post-title {
    font-size: 20px;
    font-weight: bold;
    color: #2e2e8e;
  }
  
  .post-content {
    font-size: 16px;
    color: #333;
  }
  
  .post-resource {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }
  .edit-club-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .edit-club-button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50; /* Izaberite boju prema potrebama */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-club-button:hover {
    background-color: #45a049;
  }
  .request-club-button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50; /* Ista boja kao Edit dugme */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Razmak između dugmića */
  }
  
  .request-club-button:hover {
    background-color: #45a049;
  }
  