<div class="main-column">
  <!-- Club Header Section -->
  <div class="club-info-header">
    <!-- Club Name (if available) -->
    <div *ngIf="club?.name" class="club-name">{{ club.name }}</div>
    
    <!-- Club Image (if available) -->
    <img *ngIf="club?.imageUrl" [src]="getImagePath(club.imageUrl)" alt="Club image" class="club-image" />

    <!-- Club Description (if available) -->
    <div *ngIf="club?.description" class="club-description">
      <p>{{ club.description }}</p>
    </div>
    <div class="edit-club-container">
      <button class="cta-button" *ngIf="club?.ownerId === ownerId" (click)="openInviteModal()">Invite</button>
      <button class="cta-button" *ngIf="club?.ownerId === ownerId" (click)="onEditClub()">Edit</button>
      <button class="cta-button" *ngIf="role === 'tourist' && club?.ownerId !== ownerId" (click)="onRequestClub()">Join</button>
    </div>
  </div>

  <!-- Modal for Inviting Users -->
  <div *ngIf="showModal" class="modal-overlay">
    <div class="modal-content">
      <!-- <h3>Invite Users to Club</h3> -->
      <input
        type="text"
        placeholder="Search for users..."
        [(ngModel)]="searchTerm"
        (input)="searchUsers()"
        class="search-bar"
      />
  
      <ul>
        <li
          *ngFor="let user of filteredUsers"
          (click)="selectUser(user)"
          [class.selected]="selectedUser?.id === user.id"
        >
          <span>{{ user.username }}</span>
        </li>
      </ul>
  
      <div class="modal-actions">
        <button class="cta-button" (click)="onInvite()">Invite</button>
        <button class="cta-button cancel" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
  

  <!-- Club Posts Section -->
  <div class="club-posts-section">
    <div *ngFor="let post of clubPosts" class="club-post">
      <!-- Post Content (if available) -->
      <p class="post-content" *ngIf="post?.content">{{ post.content }}</p>
      
      <!-- Display Resource Information (if available) -->
      <div class="post-resource" *ngIf="post?.resourceId">
        <p>Resource ID: {{ post.resourceId }}</p>
      </div>
    </div>
  </div>
</div>
