<div class="main-column">
  <!-- Club Header Section -->
  <div class="club-info-header">
    <p *ngIf="ownerUsername"> {{ ownerUsername }}</p>
    <div *ngIf="club?.name" class="club-name">
      {{ club.name }} 
    </div>    
    
    <!-- Club Image (if available) -->
    <img *ngIf="club?.imageUrl" [src]="getImagePath(club.imageUrl)" alt="Club image" class="club-image" />

    <!-- Club Description (if available) -->
    <div *ngIf="club?.description" class="club-description">
      <p>{{ club.description }}</p>
    </div>
    <div class="edit-club-container">
      <button class="cta-button" *ngIf="club?.ownerId === ownerId" (click)="openInviteModal()">Invite</button>
      <!-- <button class="cta-button" *ngIf="club?.ownerId === ownerId" (click)="onEditClub()">Edit</button> Ovo možda da premestimo u dashboard? -->
      <button class="cta-button" *ngIf="club?.ownerId === ownerId" (click)="onDashboard()">Dashboard</button>
      <button class="cta-button" [class.pending]="isPending"  *ngIf="role === 'tourist' && club?.ownerId !== ownerId" [disabled]="isMember || isPending" (click)="onRequestClub()" > {{ isMember ? 'Already a Member' : (isPending ? 'Pending Approval' : 'Join') }} </button>

    </div>
  </div>

  <!-- Modal for Inviting Users -->
  <div *ngIf="showModal" class="modal-overlay">
    <div class="modal-content">
      <!-- <h3>Invite Users to Club</h3> -->
      <input
        type="text"
        placeholder="Search for users..."
        [(ngModel)]="searchTerm"
        (input)="searchUsers()"
        class="search-bar"
      />
  
      <ul>
        <li
          *ngFor="let user of filteredUsers"
          (click)="selectUser(user)"
          [class.selected]="selectedUser?.id === user.id"
        >
          <span>{{ user.username }}</span>
        </li>
      </ul>
  
      <div class="modal-actions">
        <button class="cta-button" (click)="onInvite()">Invite</button>
        <button class="cta-button cancel" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
  

  <!-- Club Posts Section -->
  <div class="club-posts-section">
    <div *ngFor="let post of clubPosts" class="club-post">
      <!-- Username and Resource Link -->
      <div class="post-header">
        <span class="author-name">{{ post.username || 'User' }}</span>
        <span>sent a</span>
        <a
          [href]="'http://localhost:4200/' + (post.resourceType === 0 ? 'blog' : 'tour-more-details') + '/' + post.resourceId"
          target="_blank"
          class="resource-link"
        >
          {{ post.resourceType === 0 ? 'post' : 'tour' }}
        </a>
        <!-- Menu Actions -->
        <button class="kebab-menu-button" (click)="toggleMenu(post.id)">⋮</button>
        <div *ngIf="openMenuId === post.id" class="comment-menu">
          <button *ngIf="club.ownerId === ownerId" (click)="deletePost(post)">Delete</button>
          <button *ngIf="post.memberId === ownerId" (click)="startEditingPost(post)">Edit</button>
        </div>
      </div>
  
      <!-- Post Content -->
      <div *ngIf="!isEditing || editingPost?.id !== post.id" class="post-content">
        <p>{{ post.content }}</p>
      </div>
      <!-- Editable Post -->
      <div *ngIf="isEditing && editingPost?.id === post.id" class="comment-edit-form">
        <div *ngIf="editingPost">
          <textarea [(ngModel)]="editingPost.content" class="edit-textarea"></textarea>
          <div class="comment-actions">
            <button class="cta-button-cancel" (click)="cancelEdit()">Cancel</button>
            <button class="cta-button-save" (click)="saveEdit()">Save</button>
          </div>
        </div>        
      </div>
    </div>
  </div>
  

</div>
