<div class="main-column">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="blog-form">
        <h2>Login</h2>
        <label for="username">Username</label>
        <input id="username" formControlName="username" class="form-control" type="text"/>

        <label for="password">Password</label>
        <input id="password" formControlName="password" class="form-control" type="password"/>

        <button type="submit" class="cta-button form-button" [disabled]="loginForm.invalid">Login</button>

        <p>No account? <a href="/register">Create one!</a></p>
    </form>
</div>
