<div class="notifications-container">
    <div class="header">
        <h4>Notifications</h4>
        <span class="mark-read-text" (click)="markAllAsRead()">Mark as read</span>
    </div>

    <div class="header" *ngIf="unreadNotification.length === 0 && readNotificatio.length === 0">
        <p>No notifications available.</p>
    </div>

    <div class="notification-table">
        <ng-container *ngFor="let notification of unreadNotification">
            <div *ngIf="isPublicPointNotification(notification)" 
                 class="notification-row unread"
                 [ngClass]="{
                    accepted: notification.data.isAccepted,
                    rejected: !notification.data.isAccepted
                 }"
                 (click)="openNotificationDialog(notification.data)">
                <div class="notification-title">
                    <span>
                        <strong class="notification-point">
                            Public Point ID: {{ notification.data.publicPointId }}
                        </strong>
                    </span>
                    <div class="notification-comment">
                        {{ truncateComment(notification.data.comment || '', 100) }}
                    </div>
                    <div class="notification-date">
                        {{ notification.creationTime | date:'MMMM d, y, h:mm a' }}
                    </div>
                    <div class="notification-status"
                         [ngClass]="notification.data.isAccepted ? 'status-accepted' : 'status-rejected'">
                        {{ notification.data.isAccepted ? 'ACCEPTED' : 'REJECTED' }}
                    </div>
                </div>
            </div>
            <!-- Prikaz za običan Notification -->
            <div *ngIf="isNotification(notification)" 
                class="notification-row unread">
            <div class="notification-title">
            <span>
                <strong class="notification-point">
                    Sender: {{ notification.data.sender }}
                </strong>
            </span>
            <div class="notification-comment">
                {{ truncateComment(notification.data.message || '', 100) }}
            </div>
            <div class="notification-date">
                {{ notification.creationTime | date:'MMMM d, y, h:mm a' }}
            </div>
            </div>
            </div>
        </ng-container>
    </div>
    
    <div class="notification-table">
        <ng-container *ngFor="let notification of readNotificatio">
        <div *ngIf="isPublicPointNotification(notification)" 
                 class="notification-row read"
                 [ngClass]="{
                    accepted: notification.data.isAccepted,
                    rejected: !notification.data.isAccepted
                 }"
                 (click)="openNotificationDialog(notification.data)">
            <div class="notification-title">
                <strong class="notification-point-read">Public Point ID: {{ notification.data.publicPointId }}</strong>
                <div class="notification-comment">
                    {{ truncateComment(notification.data.comment, 100) }}
                </div>
                <div class="notification-date">{{ notification.data.creationTime | date:'MMMM d, y, h:mm a' }}</div>
                <div class="notification-status" [ngClass]="notification.data.isAccepted ? 'status-accepted' : 'status-rejected'">
                    {{ notification.data.isAccepted ? 'ACCEPTED' : 'REJECTED' }}
                </div>
            </div>
        </div>
        <!-- Prikaz za običan Notification -->
        <div *ngIf="isNotification(notification)" 
        class="notification-row read">
        <div class="notification-title">
        <span>
            <strong class="notification-point-read">
                Sender: {{ notification.data.sender }}
            </strong>
        </span>
        <div class="notification-comment">
            {{ truncateComment(notification.data.message || '', 100) }}
        </div>
        <div class="notification-date">
            {{ notification.creationTime | date:'MMMM d, y, h:mm a' }}
        </div>
        </div>
        </div>
        </ng-container>
    </div>

    <div *ngIf="showModal" class="modal-backdrop">
        <div class="modal-content card">
            <div *ngIf="selectedPoint?.imageUrl">
                <img [src]="selectedPoint?.imageUrl" alt="Public Point Image" class="modal-image card-image"/>
            </div>
    
            <div class="card-details">
                <h2>{{ selectedPoint?.name }}</h2>
                <p>{{ selectedPoint?.description }}</p>
                <p><span class="label">Status:</span>
                    <ng-container *ngIf="selectedPoint?.approvalStatus === 2">Rejected</ng-container>
                    <ng-container *ngIf="selectedPoint?.approvalStatus === 1">Accepted</ng-container>
                    <ng-container *ngIf="selectedPoint?.approvalStatus === 0">Pending</ng-container>
                    <ng-container *ngIf="selectedPoint?.approvalStatus === undefined">No status</ng-container>
                </p>
    
                <p><span class="label">Comment:</span> {{ selectedNotification?.comment }}</p>
                <p><span class="label">Decision:</span> {{ selectedNotification?.isAccepted ? 'Accepted' : 'Rejected' }}</p>
    
                <button class="close-button" (click)="closeModal()">X</button>
            </div>
        </div>
    </div>
</div>
