<form [formGroup]="tourForm">
    <div>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          formControlName="description"
          cdkAutosizeMaxRows="5" required></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" type="number" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Level</mat-label>
          <input matInput formControlName="level" type="number" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <input matInput formControlName="status" type="text" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Taggs</mat-label>
            <input matInput formControlName="taggs" type="text" placeholder="Comma-separated tag IDs" required />
          </mat-form-field>
          

        <button *ngIf="!shouldEdit" color="primary" type="submit" (click)="addTour()">Done</button>
        <button *ngIf="shouldEdit" color="primary" type="submit" (click)="updateTour()">Done</button>
    </div>
</form>
