.main-column {
    flex: 1;
    max-width: 1400px; 
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
  
.club-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}
  
.club-card {
    position: relative;
    width: 100%;
    max-width: 1200px; 
    height: 400px; 
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.club-card:hover {
    transform: scale(1.03);
}
  
.club-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.club-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;
}
  
.club-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: white;
}

.club-description {
    font-size: 14px;
    margin: 10px 0;
    white-space: pre-line;
}
  
.limited-description {
    max-height: 30px; 
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.club-desc {
    color: white; 
    font-size: 14px;
    margin: 10px 0;
    white-space: pre-line;
}
  
@keyframes pulseGlow {
    0%, 100% {
        box-shadow: 0 0 10px rgba(132, 220, 198, 0.3), 0 0 20px rgba(132, 220, 198, 0.2);
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 30px rgba(132, 220, 198, 0.6), 0 0 60px rgba(132, 220, 198, 0.5);
        transform: scale(1.1);
    }
}

.floating-add-club-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #84dcc6;
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1000;
    animation: pulseGlow 3s ease-in-out infinite; /* Apply pulsing animation */
}

.floating-add-club-button:hover {
    background-color: #66c5af;
    transform: scale(1.1);
}


