<div class="main-container">
  <!-- Full-width Search Bar -->
  <div class="search-bar">
    <input type="text" placeholder="Search tours..." />
    <i class="fa-solid fa-caret-down"></i>
  </div>

  <!-- Main Content -->
  <div class="content-container">
    <!-- Filters Section -->
    <div class="filter-container">
      <h3>Filter by:</h3>
      <div class="slider-container">
        <label for="level">Level</label>
        <input type="range" id="level" name="level" min="0" max="2" [(ngModel)]="ts.level" />
      </div>
      <div class="slider-container" *ngIf="ts.transportRatings.length > 2">
        <label for="car">Car</label>
        <input type="range" id="car" name="car" min="0" max="3" [(ngModel)]="ts.transportRatings[2].rating" />
      </div>
      <div class="slider-container">
        <label for="boat">Boat</label>
        <input type="range" id="boat" name="boat" min="0" max="3" [(ngModel)]="ts.transportRatings[3].rating" />
      </div>
      <div class="slider-container">
        <label for="walk">Walk</label>
        <input type="range" id="walk" name="walk" min="0" max="3" [(ngModel)]="ts.transportRatings[0].rating" />
      </div>
      <div class="slider-container">
        <label for="bike">Bike</label>
        <input type="range" id="bike" name="bike" min="0" max="3" [(ngModel)]="ts.transportRatings[1].rating" />
      </div>
      <div class="tags-container">
        <label for="tagsInput">Tags</label>
        <textarea [(ngModel)]="tagsInputValue" id="tagsInput" placeholder="Enter tags separated by commas"></textarea>
      </div>
      <div class="button-container">
        <button id="reset" (click)="deleteTourSpecification()" class="cta-button">Reset</button>
        <button id="apply" (click)="applyChanges()" class="cta-button">Apply</button>
      </div>
    </div>

    <!-- Tour Cards Section -->
    <div class="tour-container">
      <div class="tour-card" *ngFor="let tour of allTours">
        <div class="tour-card-image">
          <img src="assets/images/tour9.jpg" alt="{{ tour.name }}" />
        </div>
        <div class="tour-card-content">
          <div class="tour-card-header">
            <h2>{{ tour.name }}</h2>
            <button class="kebab-menu"><i class="fa-solid fa-ellipsis-vertical"></i></button>
          </div>
          <p>{{ tour.description }}</p>
          <div class="tour-card-details">
            <span><i class="fa-solid fa-dollar-sign"></i> 280 USD</span>
            <span><i class="fa-solid fa-fire"></i> Easy</span>
            <span><i class="fas fa-walking"></i> {{ tour.lengthInKm }} km</span>
          </div>
        </div>
          <button class="cta-button add-to-cart"><i class="fa-solid fa-cart-plus"></i> Add to Cart</button>
      </div>
    </div>
  </div>
</div>
