<xp-tour-specification #tourSpec></xp-tour-specification>

<div class="button-container">
  <button (click)="onFilterClicked(tourSpec)" class="button">Filter by my preference</button>
  <button (click)="ngOnInit()" class="button">Reset filter</button>
</div>

<div *ngIf="allTours && allTours.length > 0; else noTours">
    <div *ngFor="let tour of allTours" class="tour-card">
      <h3>{{ tour.name }}</h3>
      <p><strong>Description:</strong> {{ tour.description }}</p>
      <p><strong>Price:</strong> {{ tour.price.cost }} 
        {{ tour.price.currency === 0 ? 'RSD' : (tour.price.currency === 1 ? 'EUR' : 'USD') }}
      </p>
      <p><strong>Average Grade:</strong> {{ calculateAverageRating(tour.reviews) | number:'1.1-1' }}</p> <!-- Calculate Average -->
      <p><strong>Length:</strong> {{ tour.lengthInKm }} km</p>
      <p><strong>Tags:</strong> {{ tour.taggs.join(', ') }}</p>
  
      <div *ngIf="tour.checkpoints.length > 0">
        <h4>Checkpoints</h4>
        <ul>
          <li>{{ tour.checkpoints[0].name }} - {{ tour.checkpoints[0].description }}</li>
        </ul>
      </div>
  
      <div *ngIf="tour.reviews.length > 0">
        <h4>Reviews</h4>
        <ul>
          <li *ngFor="let review of tour.reviews">
            <p><strong>Rating:</strong> {{ review.rating }}</p>
            <p>{{ review.comment }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <ng-template #noTours>
    <p>No tours available.</p>
  </ng-template>
  