.main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px; 
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


/* Filters Section */
.filter-container {
  flex: 0 0 30%; 
  max-width: 30%;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.slider-container, .tags-container, .button-container {
  margin-bottom: 20px;
}

.slider-container label,
.tags-container label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
}

input[type="range"],
textarea {
  width: 100%;
  font-size: 14px;
  border-radius: 15px;
}

textarea {
  height: 60px;
  padding: 8px;
  border: 1px solid #ccc;
  resize: none;
}

.button-container {
  display: flex;
}

/* Full-width Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  width: 100%; 
}

.search-bar input {
  flex: 1; 
  padding: 8px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 14px;
}

.search-bar i {
  margin-left: 10px;
  font-size: 16px;
  color: #666;
}

input[type="range"] {
  width: 100%;
  appearance: none; 
  height: 6px;
  border-radius: 15px;
  background: #ccc; 
  outline: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #f2f2f2;
  height: 6px;
  border-radius: 15px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none; 
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--primary-color);
  border: 2px solid #fff;
  margin-top: -5px; 
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #4e8a7b; 
  border: 2px solid #fff;
}


/* Tour Cards Section */
.tour-container {
  flex: 1; 
  display: block;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* Cards */
.tour-card {
  position: relative;
  display: flex;
  flex-direction: row;
  /*align-items: top;*/
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  width: 100%;
  margin-bottom: 20px;
}

.tour-card-header {
  display: flex; 
  justify-content: space-between; 
  align-items: top;
}

/* Card image section */
.tour-card img {
  width: 300px;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  align-self: center;
  margin-bottom: -20px;
}

/* Card content section */
.tour-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}

/* Card actions (e.g., Buy button and kebab menu) */
.tour-card-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.kebab-menu {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #666;
  cursor: pointer;
}

.add-to-cart {
  align-items: baseline;
  cursor: pointer;
}

.buttons {
  border: none;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  height: 200px; /* Set a height for the container */
  justify-content: space-between; /* Push one item to the top and one to the bottom */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* Card details (e.g., price, difficulty, tags) */
.tour-card-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: #666;
}

.tour-card-details span {
  display: flex;
  align-items: center;
  gap: 5px;
}

