.main-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	max-width: 1400px;
	margin: 0 auto;
	padding: 20px;
	gap: 20px;
}

.content-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

/* Filters Section */
.filter-container {
	flex: 0 0 30%;
	max-height: 730px;
	max-width: 30%;
	padding: 20px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.slider-container {
	margin-bottom: 20px;
}
.button-container {
	justify-content: space-between;
}
.tags-container {
	margin-right: 15px;
	padding-bottom: 20px;
}

.slider-container label,
.tags-container label {
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	color: #777;
}

input[type='range'],
textarea {
	width: 100%;
	font-size: 14px;
	border-radius: 15px;
}

textarea {
	height: 60px;
	padding: 8px;
	border: 1px solid #ccc;
	resize: none;
}

.button-container {
	display: flex;
}

/* Full-width Search Bar */

/* Glavni kontejner koji drži search bar i toggle dugme */
.search-toggle-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
	/* height: 54px; */
}

.search-bar {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
	width: 100%;
}

.search-bar input {
	flex: 1;
	padding: 8px;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	font-size: 14px;
}

.search-bar i {
	margin-left: 10px;
	font-size: 16px;
	color: #666;
}

input[type='range'] {
	width: 100%;
	appearance: none;
	height: 6px;
	border-radius: 15px;
	background: #ccc;
	outline: none;
	cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
	background: #f2f2f2;
	height: 6px;
	border-radius: 15px;
}

input[type='range']::-webkit-slider-thumb {
	appearance: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: var(--primary-color);
	border: 2px solid #fff;
	margin-top: -5px;
}

input[type='range']::-moz-range-thumb,
input[type='range']::-ms-thumb {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #4e8a7b;
	border: 2px solid #fff;
}

/* Tour Cards Section */
.tour-container {
	flex: 1;
	display: block;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

/* Cards */
.tour-card {
	display: flex;
	padding: 20px;
	border-radius: 20px;
	background-color: var(--secondary-color);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
	margin-bottom: 20px;
}

.tour-card i {
	font-size: 20px;
	cursor: pointer;
}

/* Card content section */
.tour-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-left: 20px;
}

.tour-header {
	display: flex;
	width: 100%;
}

.tour-info {
	flex-grow: 1;
}

.tour-info > div {
	height: 50px;
	overflow: auto;
}

.tour-info > div::-webkit-scrollbar {
	display: none;
}

.tour-header > i {
	flex-basis: auto;
}

.tour-footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.tour-footer-info-row {
	font-size: 16px;
	margin-top: 2px;
}

.tour-footer-info-row i {
	cursor: auto;
	font-size: 16px;
	width: 30px;
}

/* Card image section */
.tour-card img {
	width: 300px;
	min-height: 200px;
	border-radius: 20px;
	object-fit: cover;
}

/* Card actions (e.g., Buy button and kebab menu) */
.tour-card-actions {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-end;
}

.kebab-menu {
	align-self: flex-end;
	background: none;
	border: none;
	font-size: 20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #666;
	cursor: pointer;
}

.add-to-cart {
	cursor: pointer;
}

.buttons {
	border: none;
	display: flex;
	flex-direction: column; /* Stack items vertically */
	height: 200px; /* Set a height for the container */
	justify-content: space-between; /* Push one item to the top and one to the bottom */
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

/* Card details (e.g., price, difficulty, tags) */
.tour-card-details {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 10px;
	font-size: 14px;
	color: #666;
}

.tour-card-details span {
	display: flex;
	align-items: center;
	gap: 5px;
}

.tour-card-empty:hover {
	background-color: #636262;
}

.plus-icon i {
	font-size: 60px;
	color: white;
}

.sort-container {
	flex: 0 0 30%;
	max-width: 30%;
	padding: 20px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.sort-label {
	text-align: left;
}

.sort-label h3 {
	margin: 0;
}

.sort-label ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sort-label ul li {
	margin-bottom: 0.5rem;
}

.sort-buttons {
	display: flex;
	gap: 0.5rem;
}

.toggle-switch {
	display: inline-flex;
	align-items: center;
	background-color: #ffffff; /* Bela boja pozadine */
	border-radius: 25px;
	position: relative;
	width: 200px; /* Širina dugmeta */
	overflow: hidden; /* Sakriva višak ako ima preklapanja */
	border: 2px solid #e0e0e0; /* Lagani okvir */
}

.toggle-option {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* height: 100%; */
	height: 30px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	color: #777;
	cursor: pointer;
	padding: 10px 0;
	border-radius: 25px;
	transition: all 0.3s ease;
	margin: 0 -10px; /* Negativna margina za preklapanje */
	z-index: 1;
	background-color: #ffffff; /* Belo za neaktivno dugme */
}

.toggle-option:hover {
	background-color: #f7f7f7; /* Svetlo siva kada se prelazi mišem */
}

input[type='radio'] {
	display: none;
}

input[type='radio']:checked + label {
	background-color: var(--primary-color);
	color: white;
	z-index: 2; /* Aktivno dugme je iznad ostalih */
	margin: 0; /* Resetujemo marginu za aktivno dugme */
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Mali efekat senke */
}

.status-filter {
	display: flex;
	flex-direction: column;
	gap: 10px; /* Razmak između "Status" i dugmadi */
	font-family: Arial, sans-serif;
	font-weight: 600;
	color: #777;
	padding-bottom: 10px;
	padding-top: 10px;
}

.status-buttons {
	display: flex;
	justify-content: space-between;
	gap: 10px; /* Razmak između dugmadi */
}

.status-button {
	padding: 10px 20px;
	width: 100px;
	border: none;
	border-radius: 20px;
	background-color: #f2f2f2; /* Siva za neaktivno dugme */
	color: #666;
	cursor: pointer;
	text-align: center;
	transition: all 0.3s ease;
}

input[type='radio'] {
	display: none; /* Sakrij radio dugmad */
}

input[type='radio']:checked + .status-button {
	background-color: #a5e7dc; /* Svetlo zelena za aktivno dugme */
	color: white;
}

.status-button:hover {
	background-color: #ddd; /* Svetlo siva na hover */
}

.add-tour-card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f2f2f2; /* Svetlo siva pozadina */
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
	width: 100%;
	height: 50px; /* Isto kao i ostale kartice */
	cursor: pointer;
	transition: all 0.3s ease;
}

.add-tour-card:hover {
	background-color: #e0e0e0; /* Promena boje na hover */
}

.plus-icon i {
	font-size: 60px;
	color: #666;
}

.plus-icon:hover i {
	color: #333; /* Tamnija boja na hover */
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background-color: #fff;
	border-radius: 15px;
	padding: 20px;
	width: 500px;
	max-width: 90%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
	animation: fadeIn 0.3s ease-in-out;
}

h2 {
	margin-top: 0;
	font-size: 24px;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form-row {
	display: flex;
	gap: 10px;
}

.form-actions {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.btn-cancel {
	background-color: #ccc;
	border: none;
	border-radius: 5px;
	padding: 8px 15px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-cancel:hover {
	background-color: #aaa;
}

.btn-add {
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 8px 15px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-add:hover {
	background-color: #45a049;
}
.sort-label {
	font-size: 16px;
}

.sort-dropdown {
	padding: 5px 15px;
	font-size: 14px;
	border: 1px solid #ccc;
	height: 40px;
	border-radius: 20px;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-weight: 600;
	color: #777;
}

.dropdown-div {
	padding-bottom: 10px;
}

.filter-header {
	font-size: 30px;
	font-weight: 500;
	color: solid #666;
}

.sort-header {
	font-size: 14px;
	padding-bottom: 10px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	color: #777;
}
