<div *ngFor="let acc of accounts" id="card" [ngClass]="{ 'inactive': !acc.isActive }">
    <table>
      <thead>
        <tr>
          <th colspan="2">{{ acc.username }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Role:</td>
          <td>{{ UserRole[acc.role] }}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{ acc.email }}</td>
        </tr>
        <tr>
          <td>Active:</td>
          <td>{{ acc.isActive ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
          <td>
            <button 
              color="primary" 
              mat-raised-button 
              (click)="ToggleAcountActivty(acc)">
              Toggle Activity
            </button>
          </td>
          <td *ngIf="acc.role === UserRole.Tourist">
            <div class="money-action-container">
              <button 
                *ngIf="selectedAccountId !== acc.userId"
                color="accent" 
                mat-raised-button 
                class="add-money-button" 
                (click)="toggleMoneyInput(acc)">
                Add Money
              </button>
              <div *ngIf="selectedAccountId === acc.userId">
                <input 
                  type="number" 
                  [(ngModel)]="moneyInput" 
                  placeholder="Enter amount" 
                  class="money-input"
                />
                <button 
                  color="accent" 
                  mat-raised-button 
                  class="add-money-button" 
                  (click)="depositMoney(acc)">
                  Submit
                </button>
              </div>
            </div>
          </td>          
        </tr>
      </tbody>
    </table>
  </div>
  