#card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px; 
    border: 1px solid #ddd; 
}
 td {
    padding: 5px 0;
    color: #333;
}

 table {
    width: 100%;
    border-spacing: 0;
}

 th, td {
    text-align: left;
}

th {
    font-weight: bold;
    color: #666;
}

#card.inactive {
    background-color: pink;
  }
  .money-action-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .add-money-button {
    transition: transform 0.3s ease;
    z-index: 1400;
  }
  
  .add-money-button.shifted {
    transform: translateX(120px); /* Pomeranje dugmeta udesno */
  }
  
  .money-input {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    left: 10px; /* Početna pozicija inputa */
    opacity: 0;
    transform: translateX(-20px); /* Početna pozicija */
    transition: all 0.3s ease;
    z-index: 1;
    margin-left: -140px;
  }
  
  .money-input.visible {
    opacity: 1;
    transform: translateX(130px); /* Pomeranje inputa u poziciju iza dugmeta */
  }
  
  