<div class="modal-overlay" (click)="closeModal()"></div>
<div class="modal-content">
  <h2>Share {{isTour ? 'Tour' : 'Post'}}</h2>
  <form [formGroup]="modalForm" (ngSubmit)="sendToClub ? submitClubPost() : submitDescription()">

    <label>
      <input type="checkbox" [checked]="sendToClub" (change)="onSendToClubChange($event)" />
      Send this post to a club
    </label>
    
    <div class="inputContainer">
      <label for="description">Description</label>
      <textarea
        formControlName="description"
        rows="4"
        placeholder="Enter your description here..."
      ></textarea>
    </div>
    <br>
    <div class="inputContainer" *ngIf="!sendToClub">
      <label for="follower">Select Follower</label>
      <select formControlName="selectedFollower" (change)="selectedFollowerId = modalForm.value.selectedFollower">
        <option *ngFor="let follower of followersMap | keyvalue" [value]="follower.key">
          {{ follower.value }}
        </option>
      </select>
    </div>

    <div class="inputContainer" *ngIf="sendToClub">
      <label for="club">Select Club</label>
      <select formControlName="selectedClub" (change)="selectedClubId = modalForm.value.selectedClub">
        <option *ngFor="let club of clubMap | keyvalue" [value]="club.key">
          {{ club.value }}
        </option>
      </select>
    </div>

    <div class="bottom-interaction-bar">
        <div class="submit-container">
            <button *ngIf="!sendToClub" class="submit-button" type="submit" [disabled]="modalForm.invalid">Submit</button>
            <button *ngIf="sendToClub" class="submit-button" type="submit" [disabled]="modalForm.invalid">Submit to Club</button>
        </div>

    </div>
    <br>
  </form>
</div>
