<div>
    <br>
    <br>
    <p class="club_subtitle"><b>Club</b></p>
    <br>
    <table>
        <thead>
            <tr>
                <th>Owner Id</th>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Image Url</th>
                <th>Delete</th>
                <th>Edit</th>
                <th>Members</th>
             </tr>
        </thead>

        <tbody>
            <tr *ngFor="let c of club" [ngClass]="{'green-row': c.ownerId == idOfOwner}">
                <td>{{c.ownerId}}</td>
                <td>{{c.name}}</td>
                <td>{{c.description}}</td>
                <td><img [src]="getImagePath(c.imageUrl)" alt="Post image" *ngIf="c.imageUrl" class="picture"/></td>
                <td>
                    <button *ngIf="c.ownerId == idOfOwner" color="accent" (click)="deleteClub(c.id || 0)" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
                <td>
                    <button *ngIf="c.ownerId == idOfOwner" color="primary" (click)="onEditClicked(c)" mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
                <td>
                    <button [routerLink]="['/club-members', c.id]" mat-icon-button color="primary">
                        <mat-icon>people</mat-icon>
                    </button>
                                      
                </td>
             </tr>
             <tr>
                <button color="primary" (click)="onAddClicked()" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </tr>
        </tbody>
    </table>
    <br>
    <xp-club-form *ngIf="shouldRenderClubForm" [shouldEdit]="shouldEdit" [club]="selectedClub" (clubUpdated)="getClub()"></xp-club-form>
</div>