h1{
    font-size: 48px;
    padding: 3px;
  }

h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
}

h3{
    font-size: 18px;
    padding-top: 3px;
    margin: 0;
    font-weight: 500;
}

p{
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, white, transparent);
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    margin: 5%;
    top: 40%;
    left: 23%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;;
    z-index: 2;
}

.motivational-message {
    font-weight: regular;
    color: white;
}

.cta-button {
    background-color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: var(--hover-color);
}


/* ###--- Tour section ---### */
.popular-tours {
    margin: 20px 40px;
    text-align: left;
}

.tour-cards-wrapper {
    overflow: hidden;
}

.tour-cards-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px 0;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.tour-cards-container::-webkit-scrollbar {
    display: none; 
}

.tour-card {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 280px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: left;
}

.tour-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
}

.tour-image {
    background-color: #e0e0e0;
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 100%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tour-info{
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: var(--text-color);
}

.tour-info h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.tour-info p {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tour-rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.rating-badge {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.rating-text {
    font-size: 12px;
    color: #666666;
    text-align: center;
}
