<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Club ID</th>
                <th>Tourist ID</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invitation of clubInvitations">
                <td>{{ invitation.id }}</td>    <!-- PITATI KAKO DOBITI OVAJ ID -->
                <td>{{ invitation.clubId }}</td>
                <td>{{ invitation.touristId }}</td> 
                <td>{{ invitation.status }}</td>
                <td>
                    <button (click)="deleteInvitation(invitation.id || 0)" mat-icon-button color="accent">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button (click)="onEditClicked(invitation)" mat-icon-button color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="add-button">
        <button (click)="onAddClicked()" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
