<div class="tour-card">
    <div class="tour-info">
        <div class="tour-container">
            <!-- Slika za prvi checkpoint, veća i preko cele širine kartice -->
            <div *ngIf="currentTour.checkpoints.length > 0" >
                <div class="checkpoint-hero">
                    <img [src]="currentTour.checkpoints[0].imageUrl" alt="Slika za prvi checkpoint">
                </div>
                <h1><strong>{{currentTour.name}}</strong></h1>
                <p>{{currentTour.description}}</p>
                <p>Length: {{currentTour.lengthInKm}} km</p>
                <h3><strong>Beginning: {{currentTour.checkpoints[0]?.name}}</strong></h3>
                <p>{{currentTour.checkpoints[0]?.description}}</p>
            </div>
        </div>

        <!-- Transportno trajanje -->
        <!--
        <span>
            <span class="icon-with-duration" *ngIf="currentTour.transportDurations[0]">
                <mat-icon>directions_car</mat-icon>
                <label *ngIf="currentTour.transportDurations[0].time.hours > 0">
                    {{currentTour.transportDurations[0].time.hours}} h 
                </label>
                <label> {{currentTour.transportDurations[0].time.minutes}} min</label>
            </span>
        </span>
        -->
        <!--<p>Beginning Checkpoint: {{ currentTour.checkpoints[0]?.name }}</p>-->
        
        <!-- Ostali checkpointovi -->
        <div *ngIf="isPurchased">
            <div *ngFor="let checkpoint of currentTour.checkpoints" class="checkpoint-container">
                <img [src]="checkpoint.imageUrl" alt="Slika za checkpoint">
                <div class="checkpoint-text">
                    <h3><strong>{{checkpoint.name}}</strong></h3>
                    <p>{{checkpoint.description}}</p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="reviews">
        <h3>Reviews</h3>
        <div class="review-card" *ngFor="let review of currentTour.reviews">
            <span class="rating-badge">{{review.rating}}</span>
            <p class="review-message">{{review.comment}}</p>
        </div>
    </div>

    <div class="purchase-button-container">
        <button class="purchase-button" *ngIf="!isArchived && !isPurchased" (click)="addToCart()">Add To Cart</button>
        <button class="purchase-button" *ngIf="!isArchived && isPurchased" (click)="activateTour()">Activate</button>
        <button class="purchase-button archived" *ngIf="isArchived" disabled>Tour Archived</button>
    </div>
</div>
