<div class="tour-card">
    <div class="tour-info">
        <h2>{{currentTour.name}}</h2>
        <div class="tour-images">
            <div *ngFor="let checkpoint of currentTour.checkpoints; let i = index" class="checkpoint-images">
                <img [src]="checkpoint.imageUrl" alt="Img">
            </div>
        </div>
        <p>Desription: {{currentTour.description}}</p>
        <p>Lenght: {{currentTour.lengthInKm}} km</p>
        <span>
            <span class="icon-with-duration">
                <mat-icon>directions_car</mat-icon>
                <label  *ngIf="currentTour.transportDurations[0].time.hours > 0">
                    {{currentTour.transportDurations[0].time.hours}} h 
                </label>
                <label> {{currentTour.transportDurations[0].time.minutes}} min</label>
              </span>
              
              <span class="icon-with-duration">
                <label class="material-symbols-outlined">directions_bike</label>
                <label  *ngIf="currentTour.transportDurations[1].time.hours > 0">
                    {{currentTour.transportDurations[1].time.hours}}h 
                </label>
                <label>{{currentTour.transportDurations[1].time.minutes}} min</label>
              </span>
              
              <span class="icon-with-duration">
                <label class="material-symbols-outlined">directions_walk</label>
                <label  *ngIf="currentTour.transportDurations[2].time.hours > 0">
                    {{currentTour.transportDurations[2].time.hours}}h 
                </label>
                <label>{{currentTour.transportDurations[2].time.minutes}} min</label>
              </span>
        </span>
        <p>Beginning Checkpoint: {{currentTour.checkpoints[0].name}}</p>
    </div>
    
    <div class="reviews">
        <h3>Reviews</h3>
        <div class="review-card" *ngFor="let review of currentTour.reviews">
            <span class="rating-badge">{{review.rating}}</span>
            <p class="review-message">{{review.comment}}</p>
        </div>
    </div>
    <div class="purchase-button-container">
        <button class="purchase-button" (click)="addToCart()">Add To Cart</button>
    </div>
</div>
