<div class="tour-card">
    <img src="slika-ture.jpg" alt="Slika Ture">
    <div class="tour-info">
        <h2>Naziv Ture</h2>
        <p>Opis: Predivna tura kroz istorijski centar grada, pogodna za sve uzraste.</p>
        <p>Dužina: 3 km</p>
        <p>Vreme prolaska: 2 sata</p>
        <p>Početna tačka: Glavni trg</p>
    </div>
    
    <!-- Recenzije -->
    <div class="reviews">
        <h3>Recenzije</h3>
        <div class="review-card">
            <span class="rating-badge">5</span>
            <p class="review-message">"Predivno iskustvo!"</p>
        </div>
        <div class="review-card">
            <span class="rating-badge">5</span>
            <p class="review-message">"Lep ambijent, ali malo naporna tura.NIGGGGGGGGGGGGGGGGGGGGGGGGG"</p>
        </div>
        <div class="review-card">
            <span class="rating-badge">5</span>
            <p class="review-message">"Odlično organizovano, preporučujem svima!"</p>
        </div>
    </div>
    <div class="purchase-button-container">
        <button class="purchase-button">Kupi Turu</button>
    </div>
</div>
